<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/common/frame_a">
	<head th:fragment="style_">
	</head>
	<head th:fragment="script_">
	</head>
	<div th:fragment="content_">
		<div class="404Hidden">
		</div>
		<div class="container">
			<div id="main" class="card col-md-8 offset-md-2 col-lg-8 offset-lg-2">
				<div class="card-body">
					<h2>Exception Message...</h2>
					<h4 class="card-title">Error 404 (||| o_o)!!!</h4>
					<p class="card-text">Perhaps not found...</p>
				</div>
			</div>
		</div>
	</div>
</html>