<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrapZtree/css/bootstrapStyle.css}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrapTable/css/bootstrap-table.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" >
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}"  class="ace-main-stylesheet" id="main-ace-style" >
</head>
<body class="no-skin">
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget-box widget-color-blue2">
                        <div class="widget-header">
                            <h4 class="widget-title lighter smaller">选项配置</h4>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main padding-8">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <ul id="leftTree" class="ztree"></ul>
                                    </div>
                                    <div class="col-xs-9">
                                        <div style="background-color: #FFF;padding: 0px 18px 0px;margin: 0;height:100%;border-left: 1px dotted #E2E2E2;;">
                                            <div id="typetoolbar">
                                                <button shiro:hasPermission="type:add" class="btn btn-white btn-default btn-round"  th:onclick="${'addType()'}">
                                                    <i class="ace-icon fa fa-plus blue"></i>
                                                    新增选项
                                                </button>
                                                <button class="btn btn-white btn-default btn-round" th:if="${type!=null}" th:onclick="${'goBack('''+type.parentId+''')'}">
                                                    <i class="ace-icon fa fa-reply blue"></i>
                                                    返回
                                                </button>
                                                <input type="hidden" id="deletes" shiro:hasPermission="type:delete">
                                                <input type="hidden" id="searchs" shiro:hasPermission="type:search">
                                            </div>
                                            <table id="typeTable"></table>
                                        </div>
                                        <form id="deleteTypeForm"  method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!--<script th:src="@{plugins/bootstrapZtree/js/jquery.min.js}"></script>-->
<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.excheck.js}"></script>
<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.exedit.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/js/bootbox.js}"></script>
<script th:inline="javascript">
    var zNodes = [[${types}]];
    zNodes = eval(zNodes);
    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            enable: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        },
        callback: {
            beforeClick: zTreeOnClick
        }
    };

    function zTreeOnClick(treeId, treeNode, clickFlag){
        top.showMask();
        var diag = new top.Dialog();
        diag.Drag=true;
        diag.Title="编辑选项";
        diag.URL = "/edep/"+ treeNode.id;
        diag.Width = 400;
        diag.Height = 380;
        diag.CancelEvent = function(){ //关闭事件
            top.hideMask();
            setTimeout("self.location.reload()",100);
            diag.close();
        };
        diag.show();
    }

    $(document).ready(function(){
        var zTree = $.fn.zTree.init($("#leftTree"), setting, zNodes);
        zTree.expandAll(true);
    });

    $(function(){
        $('#typeTable').bootstrapTable({
            url : "/types/" + [[${parentId}]],  //请求后台的URL（*）
            method : "GET" , //请求方式（*）
            toolbar : "#typetoolbar" , //工具按钮用哪个容器
            striped: true , //是否显示行间隔色
            cache: false ,  //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true , //是否显示分页（*）
            sortable: true ,  //是否启用排序
            sortOrder: "asc" , //排序方式
            queryParamsType : "limit",
            sidePagination: "server" , //分页方式：client客户端分页，server服务端分页（*）
            queryParams : function (params){
                var temp = {
                    limit : params.limit ,
                    page : params.offset/params.limit  ,
                    keywords : params.search ,
                    sort : params.sort ,
                    order : params.order,
                    pageNumber : this.pageNumber,
                    pageSize : this.pageSize
                }
                return temp;
            } ,     //传递参数（*）
            pageNumber: 1 , //初始化加载第一页，默认第一页
            pageSize: 10 , //每页的记录行数（*）
            pageList: [10, 25, 50, 100] , //可供选择的每页的行数（*）
            search: true , //是否显示表格搜索，此搜索是客户端搜索，不会进服务端
            strictSearch: false ,
            showColumns: true , //是否显示所有的列
            showRefresh: false , //是否显示刷新按钮
            minimumCountColumns: 2 , //最少允许的列数
            clickToSelect: true , //是否启用点击选中行
            uniqueId: "id" , //每一行的唯一标识，一般为主键列
            showToggle: false , //是否显示详细视图和列表视图的切换按钮
            cardView: false ,   //是否显示详细视图
            detailView: false ,
            columns: [{
                field : 'text',
                title : "名称",
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return '<a href="javascript:goSonType(\''+row.id+'\')">' +
                        '<i class="ace-icon fa fa-share bigger-100"></i>'+ value +
                        '</a>';
                }
            },{
                field : 'value',
                title : "值",
                align: 'center',
                valign: 'middle',
                sortable : true
            },{
                field : 'status',
                title : "状态",
                align: 'center',
                valign: 'middle',
                sortable : true,
                formatter: function (value, row, index) {
                    console.log(value);
                    if(value==0){
                        return "正常";
                    }else{
                        return "禁用" ;
                    }
                }
            },{
                title : "操作",
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return '<div class=" btn-group">' +
                        '<button class="btn btn-xs btn-info editType" onclick="editType(\''+row.id+'\')">'+
                        '<i class="ace-icon fa fa-pencil bigger-120"></i>'+
                        '</button>'+
                        '<button class="btn btn-xs btn-danger deleteType" onclick="deleteType(&apos;'+row.id+'&apos;,&apos;'+row.text+'&apos;)" >'+
                        '<i class="ace-icon fa fa-trash-o bigger-120"></i>'+
                        '</button>'+
                        '</div>' ;
                }
            }],
            onLoadSuccess: function(){  //加载成功时执行
                top.hideMask();
                if(!document.getElementById("searchs")){
                    $(".editType").remove();
                }
                if(!document.getElementById("deletes")){
                    $(".deleteType").remove();
                }
            }
        });

    });

    function goSonType(parentId){
        window.location.href="/toType/"+parentId;
    }

    function goBack(parentId){
        window.location.href="/toType/"+parentId;
    }

    function deleteType(id,name) {
        bootbox.confirm("确定要删除["+name+"]吗?", function(result) {
            if(result){
                $.ajax({
                    type:"get",
                    url:"/findTypeSon/"+id,
                    dataType:"json",
                    success:function(data){
                        if(data==0){
                            $("#deleteDepForm").attr("action","/dep/"+id+"/"+[[${parentId}]]).submit();
                            return false;
                        }else{
                            bootbox.dialog({
                                message: "<span class='bigger-110'>删除失败！请先删除子级部门.</span>",
                                buttons:
                                    {
                                        "button" :
                                            {
                                                "label" : "确定",
                                                "className" : "btn-sm btn-success"
                                            }
                                    }
                            });
                        }
                    }
                })
            }
        });
    }

    function editType(id){
        top.showMask();
        var diag = new top.Dialog();
        diag.Drag=true;
        diag.Title="编辑选项";
        diag.URL = "/type/"+id+"/"+[[${parentId}]];
        diag.Width = 600;
        diag.Height = 280;
        diag.CancelEvent = function(){ //关闭事件
            top.hideMask();
            setTimeout("self.location.reload()",100);
            diag.close();
        };
        diag.show();
    }

    function addType() {
        top.showMask();
        var diag = new top.Dialog();
        diag.Drag=true;
        diag.Title="新增选项";
        diag.URL = "/type/"+ [[${parentId}]];
        diag.Width = 600;
        diag.Height = 280;
        diag.CancelEvent = function(){ //关闭事件
            top.hideMask();
            setTimeout("self.location.reload()",100);
            diag.close();
        };
        diag.show();
    }

</script>
</body>
</html>