@charset "UTF-8";

.schedule-container {
	padding-top: 1%;
	width: 99%;
}

.schedule-table-mirror {
	position: relative;
	top: 20px;
}

.schedule-table div,
.schedule-table-mirror div {
	float: left;
}

.schedule-container .schedule-title,
.schedule-container .schedule-title-mirror {
	float: left;
}

.schedule-container .schedule-menu {
	float: right;
}

#sch-tbl,
#sch-tbl-mirror {
	width: 99%;
	border: 1px solid dimgray;
}

#sch-menu,
#sch-menu-mirror {
	width: 6%;
}

#sch-ctx,
#sch-ctx-mirror {
	width: 94%;
}

#menu-content {
	height: 100%;
	overflow: hidden;
}

#ctx-title,
#ctx-title-mirror {
	width:98.5%;
	overflow: hidden;
}

#menu-zone {
	height: 500px;
	overflow: hidden;
}

 #ctx-zone {
	width: 100%;
	height: 500px;
	overflow: auto;
}

#menu-zone-mirror {
	height: 280px;
	overflow: hidden;
}

 #ctx-zone-mirror {
	width: 100%;
	height: 280px;
	overflow: auto;
}

#ctx-zone .cell-hint,
#ctx-zone-mirror .cell-hint-mirror {
	display: none;
}

#sch-ctx .row-t, #sch-ctx .row-c {
	width: 2500px;
	height: 30px;
	white-space: nowrap;
}

#sch-ctx-mirror .row-t-mirror, #sch-ctx-mirror .row-c-mirror {
	width: 2500px;
	height: 30px;
	word-break: break-all;
}

#sch-ctx-mirror .sch-ctx-data-cell-mirror {
	overflow: auto;
}

#sch-menu .row-t, #sch-ctx .sch-ctx-cell, #sch-menu .row-c,
#sch-menu-mirror .row-t-mirror, #sch-ctx-mirror .sch-ctx-cell-mirror, #sch-menu-mirror .row-c-mirror {
	width: 80px;
	height: 30px;
}

#sch-ctx .row-c .sch-ctx-cell, #sch-ctx .row-c, #sch-menu .row-c,
#sch-ctx-mirror .row-c-mirror .sch-ctx-cell-mirror, #sch-ctx-mirror .row-c-mirror, #sch-menu-mirror .row-c-mirror {
	height: 40px;
}

#menu-zone .row-c:last-child,
#menu-zone-mirror .row-c-mirror:last-child {
	height: 60px;
}

.row-t, .row-c,
.row-t-mirror, .row-c-mirror {
	border-bottom: 1px solid lightgray;
}

#sch-menu, .sch-ctx-data-cell, #sch-ctx .sch-ctx-cell,
#sch-menu-mirror, .sch-ctx-data-cell-mirror, #sch-ctx-mirror .sch-ctx-cell-mirror {
	position: relative;
	border-right: 1px solid lightgray;
}

#sch-menu,
#sch-menu-mirror {
	overflow: hidden;
	border-right: 1px solid dimgray;
}

#sch-menu .row-c, #sch-menu .row-t, #sch-ctx .row-t,
#sch-menu-mirror .row-c-mirror, #sch-menu-mirror .row-t-mirror, #sch-ctx-mirror .row-t-mirror {
	border-bottom: 1px solid dimgray;
	font-size: 15px;
}

#sch-menu .row-t .sch-ctx-data-cell, #sch-ctx .row-t .sch-ctx-cell, #sch-menu .sunday, #sch-ctx .sunday,
#sch-menu-mirror .row-t-mirror .sch-ctx-data-cell-mirror, #sch-ctx-mirror .row-t-mirror .sch-ctx-cell-mirror, #sch-menu-mirror .sunday-mirror, #sch-ctx-mirror .sunday-mirror {
	border-right: 1px solid dimgray;
}

#sch-menu .row-t, #sch-ctx .row-t,
#sch-menu-mirror .row-t-mirror, #sch-ctx-mirror .row-t-mirror {
	background-color: lavender;
}

#sch-menu .row-c,
#sch-menu-mirror .row-c-mirror {
	background-color: aliceblue;
}

#sch-ctx .sch-ctx-data-cell .cell-hint,
#sch-ctx-mirror .sch-ctx-data-cell-mirror .cell-hint-mirror {
	position: absolute;
	font-size: 8px;
	color: lightgray;
}

#sch-ctx .sch-ctx-data-cell .shift_ {
	margin-top: 5px;
	width: 79px;
	border: none;
}

#datetimepicker {
	width: 80px;
	display: block;
}

.schedule-title {
	margin-bottom: 5px;
}

.schedule-menu {
	position: absolute;
	top:2%;
	right:1%;
}

.schedule-table {
	margin-top:40px;
}

#shiftDetail,
#staffDetail {
	float: left;
	margin-bottom: 5px;
}

#shiftDetail span,
#staffDetail span {
	color:dimgray;
	margin-right: 10px;
	border:1px dashed lightgray;
	padding:2px;
}

.sch-menu-cell div,#menu-title .sch-menu-cell {
	margin: 5px;
}

#ctx-title .sch-ctx-cell {
	padding: 2px;
}