<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8" />
	    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	    <link rel="stylesheet" th:href="@{/plugins/bootstrapTable/css/bootstrap-table.min.css}" />
	    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
	    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}"  class="ace-main-stylesheet" id="main-ace-style" />
    	<link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/jplayer/jplayer.blue.monday.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/quality/quality_check_list.css}" />
	    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
		<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
		<script th:src="@{/js/bootbox.js}"></script>
		<script th:src="@{/js/ace/ace.min.js}"></script>
		<script th:src="@{/plugins/tips/jquery.tips.js}"></script>		
		<script type="text/javascript" th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
		<script type="text/javascript" th:src="@{/js/jarvis.widget.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/jplayer/jquery.jplayer.min.js}"></script>
		<script th:src="@{/js/bus_friend/dump.js}"></script>
		<script type="text/javascript" th:src="@{/js/quality/quality_check_list.js}"></script>
	</head>
	<body class="no-skin">
		<div class="main-content">
		    <div class="main-content-inner">
		        <div class="page-content">
		            <div class="row">
		                <div class="col-xs-12">
		                    <div style="padding: 0px 10px 0px;">
		                    	<div id="qualityCheckToolbar" class="btn-group pull-left">
		                        </div>
                        		<div id="qualityCheckButton" class="btn-group pull-right col-sm-12 col-md-10">
	                        		<input type="text" id="reStartDate" name="reStartDate" data-toggle="tooltip" data-placement="bottom" title="录音开始日期" placeholder="开始日期">
	                        		<input type="text" id="reEndDate" name="reEndDate" data-toggle="tooltip" data-placement="bottom" title="录音结束日期" placeholder="结束日期">
	                        		<input type="number" id="reStartHour" name="reStartHour" min="0" max="24" data-toggle="tooltip" data-placement="bottom" title="时间段开始小时" placeholder="开始时">
	                        		<input type="number" id="reEndHour" name="reEndHour" min="0" max="24" data-toggle="tooltip" data-placement="bottom" title="时间段结束小时" placeholder="结束时">
	                        		<select id="symbol" name="symbol" data-toggle="tooltip" data-placement="bottom" title="录音时长符号">
	                        			<option value="gte">&ge;</option>
	                        			<option value="lte">&le;</option>
	                        		</select>
	                        		<input type="number" id="period" name="period" min="0" data-toggle="tooltip" data-placement="bottom" title="录音时长（秒）" placeholder="时长">
	                        		<select data-toggle="tooltip" data-placement="bottom" title="呼叫类型"  name="direction">
	                        			<option value="">全部</option>
	                        			<option value="0">呼入</option>
	                        			<option value="1">呼出</option>
	                        			<option value="2">内线</option>			                        			
	                        		</select>
	                        		<!-- 
	                        		<select data-toggle="tooltip" id="isCheck" name="isCheck" data-placement="bottom" title="是否质检">
	                        			<option value="">全部</option>
	                        			<option value="1">是</option>
	                        			<option value="0">否</option>		                        			
	                        		</select>
	                        		 -->
	                        		<input type="text" id="keywords" name="keywords"  data-toggle="tooltip" data-placement="bottom" title="模糊查询" placeholder="模糊查询">
	                        		<button id="queryClear" class="btn btn-white btn-default btn-round">
										<i class="ace-icon fa fa-trash blue"></i>清空
									</button>
	                        		<button id="querySearch" class="btn btn-white btn-default btn-round">
										<i class="ace-icon fa fa-search blue"></i>查询
									</button>
	                        	</div>
		                        <table id="qualityCheckTable"></table>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			<!-- 播放音频START -->
			<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">播放录音</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12" style="padding: 1px;">
									<div class="widget-box shadow-box">
										<div style="padding: 5px; margin-left: 70px;">
											<div id="jquery_jplayer" class="jp-jplayer"></div>
											<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
												<div class="jp-type-single">
													<div class="jp-gui jp-interface">
														<div class="jp-controls">
															<button class="jp-play" role="button" tabindex="0">play</button>
															<button class="jp-stop" role="button" tabindex="0">stop</button>
														</div>
														<div class="jp-progress">
															<div class="jp-seek-bar">
																<div class="jp-play-bar"></div>
															</div>
														</div>
														<div class="jp-volume-controls">
															<button class="jp-mute" role="button" tabindex="0">mute</button>
															<button class="jp-volume-max" role="button" tabindex="0">max
																volume</button>
															<div class="jp-volume-bar">
																<div class="jp-volume-bar-value"></div>
															</div>
														</div>
														<div class="jp-time-holder">
															<div class="jp-current-time" role="timer"
																aria-label="time">&nbsp;</div>
															<div class="jp-duration" role="timer"
																aria-label="duration">&nbsp;</div>
															<div class="jp-toggles">
																<button class="jp-repeat" role="button" tabindex="0">repeat</button>
															</div>
														</div>
													</div>
													<div class="jp-details">
														<div class="jp-title" aria-label="title">&nbsp;</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</div>
	</body>
</html>