@charset "UTF-8";

body {
	background-color: aliceblue;
}

#main {
	position: absolute;
	width: 400px;
	height: 300px;
	top: 50%;
	margin-top: -150px;
	background-color: lightblue;
	color: white;
}

.form-group input {
	margin-top: 0.5rem;
	float: right;
	width: 75%;
}

.form-group label {
	margin-top: 0.5rem;
}

form {
	margin-top: 1rem;
}

#menu {
	position: absolute;
	bottom: 0px;
}

#menu a {
	float: right;
	margin-right: 20px;
}

#footer {
	position: absolute;
	width: 100%;
	height: 30px;
	top: 100%;
	margin-top: -30px;
}

#footer div {
	margin-left: 20px;
	color: dimgray;
}