 <div class="Callerid1">
     <div><img src="static/image/index/phone/minSamll.png" alt="" class="minSamll1"></div>
     <div class="callPhone1"></div>
     <div class="callOut1"></div>
     <div class="callTime1"></div>
     <!--<div class="Hangup" id="hangup_one" onclick="dropPhone()">挂断</div> -->
     <div class="Telephone1" >
         <div class="phoneanswer1" onclick="transferOther()" id="tran">转接</div>
         <div class="phoneanswer1" onclick="meetThreeing()" id="meet">会议</div>
         <div class="hangup_two1" id="hangup_two" onclick="dropOther()" >挂断</div>
     </div>
     <!-- <div class="endListen">结束监听</div> -->
</div>