<div class="Callerid">
    <div>
        <img src="img/softphone/phone/minSamll.png" alt="" class="minSamll">
    </div>
    <div class="callPhone"></div>
    <div class="callOut"></div>
    <div class="callTime"></div>
    <!--<div class="Hangup" id="hangup_one" onclick="dropPhone()">挂断</div> -->
    <div class="Telephone">
        <div class="phoneanswer" onclick="answerPhone()">接听</div>
        <div class="hangup_two" id="hangup_two" onclick="dropPhone()">挂断</div>
    </div>
    <!-- <div class="endListen">结束监听</div> -->
</div>