<!-- 拨号键盘 -->
<div class="dialPhone">
    <img src="img/softphone/phone/shutDown.png" alt="" class="shutDown">
    <input type="text" class="phoneNumber" readonly="readonly">
    <div class="delete"><img src="img/softphone/phone/phonedelete.png" alt=""></div>
    <ul class="number">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>*</li>
        <li>0</li>
        <li>#</li>
    </ul>
    <div class="call callZong" onclick="dialPhone()">呼叫</div>
    <div class="transfer callZong" onclick="transfer()">咨询</div>
    <div class="threeWay callZong" onclick="meetIngThree()">邀请三方</div>
</div>