<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrapTable/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}"  class="ace-main-stylesheet" id="main-ace-style" >
</head>
<body class="no-skin">
<div class="main-content" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div style="padding: 0px 10px 0px;">
                            <div id="noticeToolbar">
                                <button shiro:hasPermission="notice:add"  class="btn btn-white btn-default btn-round"   onclick="addNotice()">
                                    <i class="ace-icon fa fa-plus blue"></i>
                                    新增公告
                                </button>
                                <input type="hidden" id="deletes" shiro:hasPermission="notice:delete">
                                <input type="hidden" id="searchs" shiro:hasPermission="notice:search">
                            </div>
                            <table id="noticeTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="deleteNoticeForm"  method="post">
    <input type="hidden" name="_method" value="delete"/>
</form>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:inline="javascript">
$(function() {
    top.hideMask();
    $('#noticeTable').bootstrapTable({
        url : "/notices",  //请求后台的URL（*）
        method : "get" , //请求方式（*）
        toolbar : "#noticeToolbar" , //工具按钮用哪个容器
        striped: true , //是否显示行间隔色
        cache: false ,  //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true , //是否显示分页（*）
        sortable: true ,  //是否启用排序
        sortOrder: "asc" , //排序方式
        sidePagination: "server" , //分页方式：client客户端分页，server服务端分页（*）
        queryParamsType : "limit",
        pageNumber: 1 , //初始化加载第一页，默认第一页
        pageSize: 10 , //每页的记录行数（*）
        pageList: [10, 25, 50, 100] , //可供选择的每页的行数（*）
        search: true , //是否显示表格搜索，此搜索是客户端搜索，不会进服务端
        strictSearch: false ,
        showColumns: true , //是否显示所有的列
        showRefresh: false , //是否显示刷新按钮
        minimumCountColumns: 2 , //最少允许的列数
        clickToSelect: true , //是否启用点击选中行
        uniqueId: "id" , //每一行的唯一标识，一般为主键列
        showToggle: false , //是否显示详细视图和列表视图的切换按钮
        cardView: false ,   //是否显示详细视图
        detailView: false ,
        queryParams : function (params){
            var temp = {
                limit : params.limit ,
                page : params.offset/params.limit  ,
                keywords : params.search ,
                sort : params.sort ,
                order : params.order,
                pageNumber : this.pageNumber,
                pageSize : this.pageSize
            }
            return temp;
        } ,     //传递参数（*）
        columns: [{
            field : 'title',
            title : "标题",
            align: 'center',
            valign: 'middle',
            sortable:true
        },{
            field : 'type',
            title : "类型",
            align: 'center',
            valign: 'middle',
            sortable:true
        },{
            field : 'status' ,
            title : "状态",
            align: 'center',
            valign: 'middle',
            sortable:true
        },{
            field : 'creater' ,
            title : "创建人",
            align: 'center',
            valign: 'middle',
            sortable:true
        },{
            field : 'createDate' ,
            title : "创建时间",
            align: 'center',
            valign: 'middle',
            sortable:true
        },{
            title : "操作",
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {
                return '<div class=" btn-group">' +
                    '<button class="btn btn-xs btn-info editNotice" onclick="editNotice(\''+row.id+'\')">'+
                    '<i class="ace-icon fa fa-pencil bigger-120"></i>'+
                    '</button>'+
                    '<button class="btn btn-xs btn-danger deleteNotice" onclick="deleteNotice(&apos;'+row.id+'&apos;,&apos;'+row.title+'&apos;)" >'+
                    '<i class="ace-icon fa fa-trash-o bigger-120"></i>'+
                    '</button>'+
                    '</div>' ;
            }
        }],
        onLoadSuccess: function(){  //加载成功时执行
            if(!document.getElementById("searchs")){
                $(".editNotice").remove();
            }
            if(!document.getElementById("deletes")){
                $(".deleteNotice").remove();
            }
            top.hideMask();
        }
    });
})

function addNotice() {
    top.showMask();
    var diag = new top.Dialog();
    diag.Drag=true;
    diag.Title="新增公告";
    diag.ShowMaxButton = true;	//最大化按钮
    diag.ShowMinButton = true;
    diag.URL = "/notice";
    diag.Width = 800;
    diag.Height = 500;
    diag.CancelEvent = function(){ //关闭事件
        top.hideMask();
        setTimeout("self.location.reload()",100);
        diag.close();
    };
    diag.show();
}

function editNotice(id) {
    top.showMask();
    var diag = new top.Dialog();
    diag.Drag=true;
    diag.Title="编辑公告";
    diag.ShowMaxButton = true;	//最大化按钮
    diag.ShowMinButton = true;
    diag.URL = "/notice/"+id;
    diag.Width = 800;
    diag.Height = 500;
    diag.CancelEvent = function(){ //关闭事件
        top.hideMask();
        setTimeout("self.location.reload()",100);
        diag.close();
    };
    diag.show();
}

function  deleteNotice(id,name) {
    bootbox.confirm("确定要删除["+name+"]吗?", function(result) {
        if(result){
            $("#deleteNoticeForm").attr("action","/notice/"+id).submit();
            return false;
        }
    });
}
</script>
</body>
</html>