
#callerId{
    height:36px;
    border-radius: 19px;
    background: #000;
    font-size:14px;
    color:#fff;
    line-height:36px;
    width:14%;
    float:left;
    margin:9px;
    box-shadow:1px 1px 6px 1px #ccc;
    cursor:move;
    display:none;
}
#mobilePhone{
    /*margin-left:20px;*/
    display:block;
    /*float:left;*/
    text-align:center;
    width:100%;
}
#mobileTime{
    margin-right:20px;
    display:block;
    float:right;
}
.phoneBtn{
    width:34%;
    /*background: #999;*/
    overflow: hidden;
    height:60px;
    float:left;
    min-width:400px;
}
.iframe_content{
    position:absolute;
}
.phoneContentwai{
    overflow:hidden;
    width:100%;
    padding-top:2px;
}
.phoneContent{
    width:924px;
    float:left;
}
.btnLeft,.btnRight{
    height:44px;
    width:16px;
    background: #2095FF;
    float:left;
    cursor:pointer;
    padding:4px 10px;
}
.btnLeft{
    margin-left:20px;
}
.btnLeft img,.btnRight img{
    width:10px;
    margin:16px auto;
}
.phoneFunction{
    float:left;
    padding:0 10px;
    cursor: pointer;
}
.phoneFunction p{
    text-align:center;
    font-size:12px;
    color:#fff;
}
.phoneImg{
    width:24px;
    height:24px;
    margin:0 auto;
    padding:6px 0 4px;
}
.phoneImg img{
    width:100%;
}
.customerInWai{
    position:absolute;
    top:74px;
    left:0%;
    width:100%;
    height:600px;
    background: rgba(0,0,0,.5);
    z-index:1;
    box-shadow: 1px 1px 10px #ddd;
    display:none;
}
.customerIn{
    position:absolute;
    top:10px;
    left:36%;
    width:380px;
    background: #fff;
}
.customerIn span{
    color:#333;
    font-size:14px;
    line-height:28px;
}
.customerInSpan{
    margin-right:10px;
}
.customerInTitle{
    line-height:48px;
    border-bottom:1px solid #ccc;
    text-align:center;
    font-size:16px;
    background:#eee;
}
.customerInNone{
    font-size: 18px;
    color: #999;
    /* margin-left: 20px; */
    position: absolute;
    top: -4px;
    right: 6px;
    cursor: pointer;
    display:block;
}
.shrinkageRight{
    /*overflow: hidden;*/
    height: 60px;
    float: right;
    width:206px;
}
.left{
    float:left;
}
.callcenter-preview span{
    position:relative;
    top:0;
}
.funvtionIcon{
    float:right;
    color:#fff;
    font-size:12px;
    margin-right:12px;
    cursor: pointer;
}
.funvtionIcon img{
    width:23px;
    margin:6px 0 2px;
}
/*呼叫中心*/
.dialPhone{
    position: absolute;
    height: 336px;
    width: 200px;
    background: #fff;
    z-index: 2;
    border:1px solid #eee;
    box-shadow:1px 1px 6px 1px #ccc;
    top:80px;
    right:100px;
    cursor:move;
    display:none;
}
.dialPhone .phoneNumber{
    /*background: red;*/
    height:16px;
    width:154px;
    border:1px solid #f2f6f6;
    outline:none;
    color:#333;
    font-size:14px;
    text-align:center;
    margin:22px 12px 10px 12px;
    padding:10px;
}
.number{
    margin:0 12px;
    width:176px;
    overflow: hidden;
}
.number li{
    float:left;
    height:50px;
    width:56px;
    background: #f7f7f7;
    margin:1px;
    color:#666;
    line-height:50px;
    text-align:center;
    cursor: pointer;
}
.number li:hover{background:#5dca91;color:#fff; }
.callZong,.Hangup,.endListen{
    height:32px;
    background: #5dca91;
    width:176px;
    color:#fff;
    border-radius: 16px;
    line-height:32px;
    text-align:center;
    margin:10px auto;
    cursor: pointer;
}
.delete{
    height:20px;
    width:20px;
    /*background: red;*/
    position:absolute;
    top:32px;
    right:18px;

}
.delete img{
    cursor: pointer;
    width:18px;
}
/*来电显示*/
.Callerid{
    position: absolute;
    box-shadow: 1px 1px 6px 1px #ccc;
    height: 330px;
    width: 200px;
    background: #fff;
    z-index: 2;
    border:1px solid #eee;
    top:80px;
    right:100px;
    display:none;
    cursor:move;
}
.Callerid div{
    text-align:center;
}
.callPhone{
    text-align:center;
    margin:30px 0 6px;
    font-size:18px;
    height:24px;
}
.shutDown{
    position:absolute;
    top:6px;
    right:6px;
    width:12px;
    cursor:pointer;
}
.callOut{
    font-size:14px;
    color:#666;
    height:20px;
}
.Hangup{
    background: red;
    margin-top:170px;
    display:none;
    font-size:14px;
}
.Telephone{
    overflow: hidden;
    width:176px;
    margin:0 auto;
}
.endListen{
    background: red;
    margin-top:170px;
}
.Telephone div{
    float:left;
    line-height:32px;
    color:#fff;
    font-size:14px;
}
.phoneanswer,.hangup_two{
    height:32px;
    background: #5dca91;
    width:176px;
    border-radius: 16px;
    margin:170px 0px;
    cursor: pointer;
}
.hangup_two{
    background: red;
}
.callTime{
    font-size:14px;
    color:#666;
    height:18px;
    /*line-height:;*/
}
.minSamll{
    position:absolute;
    top:6px;
    right:6px;
    width:16px;
    cursor: pointer;
}
.minS{
    width:60px;
    height:70px;
    position:fixed;
    right:0px;
    top:42%;
    border:1px solid #93ccff;
    display:none;
    cursor: pointer;
    background: #f9fcfe;
    cursor:move;
    z-index:99999999999999999999;
}
.minS img{
    width:30px;
    margin:10px 15px 0px;
}
.minS p{
    font-size:12px;
    text-align:center;
    margin:0;
}
/*置忙*/
.background{
    background:rgba(0,0,0,.4);
    position: absolute;
    width:100%;
    height:100%;
    display:none;
    z-index:1;
}
.whyBusy{
    position:absolute;
    top:35%;
    left:35%;
    height:180px;
    width:30%;
    margin:0 auto;
    background: #fff;
    border:1px solid #eee;
    min-width:300px;
    display:none;
    z-index:2;
}
.busy{
    padding:8px;
    width:70%;
    margin:42px 13% 30px;
    line-height:20px;
    border:1px solid #ccc;
}
.queding,.quxiao{
    float:left;
    width:24%;
    height:32px;
    background: #2095FF;
    cursor:pointer;
    line-height:32px;
    text-align:center;
    color:#fff;
    font-size:14px;
    margin:0 10% 0 16%;
    border-radius: 3px;
}
.quxiao{
    margin:0 15% 0 10%;
    background: #fff;
    color:#666;
    border:1px solid #aaa;
}
/*坐席状态*/
table.altrowstable,table.setSpy_table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
    z-index:3;
}

table.altrowstable th,table.setSpy_table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #eee;
    text-align:center;
    padding:12px 0;
    width:140px;
}
.setSpy_table th.setSpy_trc{
    width:200px;
}
.setSpy_table td.setSpy_trc{
    width:200px;
}
.setSpy_table th.ivrList_trc{
    width:150px;
}
.setSpy_table td.ivrList_trc{
    width:150px;
}
.setSpy_table th.robList_trc{
    width:150px;
}
.setSpy_table td.robList_trc{
    width:150px;
}
table.altrowstable td,table.setSpy_table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #eee;
    text-align:center;
    padding:12px 0;
    width:140px;
}
table.setSpy_table th {
    padding:12px 0;
    width:140px;
}
table.setSpy_table td {
    padding:12px 0;
    width:140px;
}
table.altrowstable tr:nth-of-type(odd) {
    background: #f6f6f6;
}
table.altrowstable tr:nth-of-type(even) {
    background: #fff;
}
table.setSpy_table tr:nth-of-type(odd) {
    background: #f6f6f6;
}
table.setSpy_table tr:nth-of-type(even) {
    background: #fff;
}

.extensionList_cb,.setSpy_cb,.callingList,.ivrList_cb,.robList_cb{
    position:absolute;
    padding:38px 16px 16px 16px;
    background: #fff;
    left:20%;
    top:18%;
    overflow-y: auto;
    display:none;
    z-index:3;
}
/*状态筛选*/
#extension{
    height: 28px;
    width: 120px;
    font-size: 12px;
    line-height: 24px;
    padding: 3px;
    color: #666;
    margin:10px;
    margin-left:0;
}
.onSpy,.inser,.getVersion,.setIntercept,.ivrList_return,.robList_meet{
    cursor:pointer;
    color:#2095FF;
    padding:0 6px;
}
.setSpy_cb div .searchInput{
    border:1px solid #ccc;
    height:16px;
    width:220px;
    min-height: 16px;
    color:#666;
    font-size:12px;
    margin-right:4px;
}
.searchWai{
    padding:0px 0 14px 0;
}
.searchDiv{
    display:inline-block;
    color:#fff;
    font-size:14px;
    line-height:32px;
    width:96px;
    text-align:center;
    background: #2095FF;
    border-radius: 4px;
    cursor: pointer;
}
.setSpyDelete{
    position:absolute;
    top:14px;
    right:14px;
    width:16px;
    height:16px;
    cursor: pointer;
    padding:0px 0 10px 0;
    /*margin-left:268px;*/
}
.setSpyDelete img{
    width:100%;
}


/*电话工单*/
body .popup{
    width:900px;
    position:absolute;
    background: #fff;
    top:80px;
    left:233px;
    border:1px solid #eee;
    box-shadow: 1px 1px 1px #999;
    height:500px;
    overflow-y: auto;
    display:none;
    z-index:2;
}
body .popup_nav{
    width:100%;
    height:40px;
    background:#f7f7f7;
    color:#666;
    font-size:14px;
    line-height:40px;
    overflow:hidden;
    margin-bottom:10px;
}
body .popup_nav_left{
    float:left;
    overflow:hidden;
}
body .popup_nav_left img{
    width:20px;
    margin:10px 10px 10px 20px;
    display:block;
    float: left;
}
body .popup_nav_left span{
    line-height:40px;
    display: block;
    float:left;
}
body .popup_nav_right{
    float:right;
    margin-right:20px;
    height:20px;
    width:20px;
    cursor: pointer;
}
body .popup_nav_right img{
    width:100%;
}
body .popup_btn{
    overflow:hidden;
    margin:4px 0;
    float:left;
}
body .popup_btn div{
    border-radius: 3px;
    height:32px;
    width:80px;
    background: #eee;
    color:#666;
    text-align:center;
    line-height:32px;
    font-size:12px;
    float:left;
    margin-right:10px;
    cursor: pointer;
}
body .basicInformation{
    margin-left:20px;
}
body .popup_btn div:hover{
    color:#fff;
    background: #2095ff;
}
body .popup_btn .active{
    color:#fff;
    background: #2095ff;
}
body .popup_information,.popup_workInformation,.uploadContent{
    width:860px;
    margin:0 auto;
    background:#fbfcfd;
    box-shadow: 1px 1px 4px 1px #dbdbdb;
    border:1px solid #eee;
    /*    padding-bottom:20px;*/
    margin-bottom:10px;
}
body .information_nav{
    overflow:hidden;
    width:100%;
    border-bottom:1px solid #eee;
}
body .information_nav img{
    display:block;
    width:16px;
    margin:10px 6px 10px 10px;
    float:left;
}
body .information_nav span{
    display:block;
    float:left;
    color:#999;
    font-size:12px;
    line-height:36px;
}
body .popup_information_wai{
    margin-left:20px;
    width:820px;
}
body .popup_information_1{
    margin-top:8px;
    overflow:hidden;
}
body .popup_information_1 div{
    float:left;
    margin:0 20px 0 10px;
}
body .popup_information_1 .div_center{
    margin:0 30px;
}
body .popup_information_1 span{
    font-size:14px;
    color:#999;
    margin-right:10px;
}
body .popup_information_1 input{
    width:156px;
    padding:6px 5px;
    font-size:14px;
    border:1px solid #999;
    border-radius: 0px;
    margin-bottom:0;
}
body .popup_information_1 select{
    width:168px;
    padding:2px 3px 4px;
    font-size:14px;
    border:1px solid #999;
    appearance: normal;
    -moz-appearance: normal;
    -webkit-appearance: normal;
    margin:0px;

}
body .popup_information_1 .popup_left{
    float:left;
}
body .popup_information_1 .popup_center{
    float:left;
}
body .popup_information_1 .popup_right{
    float:right;
}
body .popup_right span,.popup_right input,.popup_right select{
    display: block;
    float:right;

}
body .popup_information_2 input{
    width:711px;
}
body .popup_information_3 span,.popup_information_3 textarea{
    display:block;
    float:right;
}
body .popup_information_3 textarea{
    padding:6px;
    max-width:710px;
    border:1px solid #999;
    height:42px;
}
body .popup_right .popup_right_div{
    width:724px;
    float:right;
    margin:0;
    overflow:hidden;
}
body .popup_btn_operation{
    overflow:hidden;
    margin:0 auto 20px;
    width:200px;
    float:right;
}
body .popup_save,.popup_cancel{
    color:#fff;
    border-radius: 3px;
    height:32px;
    width:80px;
    background: #2095ff;
    line-height:32px;
    text-align:center;
    font-size:14px;
    cursor: pointer;
    float:left;
    margin:0 10px;
}
body .popup_cancel{
    background: #eee;
    color:#999;
}
body .popup_right_div input{
    float:left;
    width:auto;
    margin:4px 6px;
}
body .popup_right_div label{
    float:left;
    color:#666;
    font-size:14px;
}
body .popup_right_div select{
    float:left;
}
.popup_information_1 textarea{
    width:710px;
}
.popup_information_1 .radio,.popup_information_1 .checkbox{
    min-height:13px;
    height:13px;
    width:14px;
}
.popup_information_1 select{
    border-radius:0;
    line-height:24px;
}
.popup_left,.popup_center,.popup_right{
    position:relative;
}
.mandatory,.mandatoryPhone{
    position: absolute;
    top: 4px;
    right: -20px;
    width: 16px;
    display:none;
}
.mandatoryPhone{
    cursor: pointer;
}
#date{
    margin:0;
    padding:3px 6px;
    width:154px;
}

/*弹出工单分类*/
.popup_bg{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.3);
    z-index:5;
    display:none;
}
.popupWork{
    width:700px;
    display:none;
    height:80%;
    position:fixed;
    top:10%;
    left:100px;
    background: #fbfcfd;
    z-index:6;
    border-radius:10px;
    box-shadow: 1px 1px 5px #eee;
    overflow: auto;
}
.popupWork_title{
    height:40px;
    background:#f7f7f7;
    border-bottom:1px solid #eee;
    line-height:40px;
    position: relative;
    width:100%;
    font-size:14px;
}
.popupWork_title span,.popupWork_title img{
    position: absolute;
    display:block;
}
.popupWork_title span{
    left:20px;
}
.popupWork_title img{
    right:10px;
    width:20px;
    padding:10px;
    cursor:pointer;
}
.day ul{
    margin:0px;
}
.popup_otherWork{
    width:100%;
}
.popup_otherWorkShow{
    width: 860px;
    margin: 0 auto;
    background: #fbfcfd;
    box-shadow: 1px 1px 4px 1px #dbdbdb;
    border: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
.popup_otherWorkShow td,.popup_otherWorkShow th{
    padding:8px 20px;
    text-align:center;
    max-width:110px;
    min-width:43px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:12px;
    color:#666;
}
.popup_otherWorkShow table{
    margin:10px;
}
.popup_otherWorkShow tr:nth-child(2n+1){
    background: #f7f7f7;
}
.popup_otherWorkShow tr:nth-child(2n){
    background: #fff;
}
.popupWorkShow{
    overflow: hidden;
    float:left;
    display:none;
}
.popupWorkShow li{
    padding:4px 12px;
    color:#666;
    border:1px solid #aaa;
    margin:20px 5px;
    float:left;
    cursor: pointer;
}
.popupWorkShow li.pageActive{
    background:#2095ff;
    color:#fff;
    border:1px solid #2095ff;
}
.popup_otherWorkContent{
    background: #fff;
    position: absolute;
    box-shadow: 1px 1px 10px #eee;
    width:200px;
    border:1px solid #eee;
}
.popup_otherWorkShow{
    position:relative;
}
.workContent{
    cursor: pointer;
}
#fileUploadContent{
    padding:20px;
}
.uploadFileBt{
    padding:10px 20px;
    border-radius: 4px;
    background: #2095ff;
}
.popup_information_4{
    float:left;
    width:300px;
}
.radioShow{
    float:left;
    width:470px;
}