.softphone{
    color: #FFF;
    font-size: 15px;
    text-shadow: none;
    padding-top: 8px;
    height: auto;
    float: left;
    margin-left:83px;
}

.softlist{
    list-style : none ;
    margin : 0px auto;
}

.functionPhone{
    cursor : pointer ;
    float : left ;
    margin-right : 20px ;
}
.phonetext{
    color : #bbb ;
    font-size : 12px ;
}

.Callerid {
    z-index:6;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    box-shadow: 1px 1px 6px 1px #ccc;
    cursor: move;
    display: none;
    height: 330px;
    position: absolute;
    right: 60%;
    top: 59px;
    width: 200px;
    z-index: 6;
}
.Callerid div {
    text-align:center;
}
.minSamll {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
}



.callPhone {
    font-size: 18px;
    height: 24px;
    margin: 30px 0 6px;
    text-align: center;
}

.callOut {
    color: #666;
    font-size: 14px;
    height: 20px;
}

.callTime {
    color: #666;
    font-size: 14px;
    height: 18px;
}

.Hangup {
    background: red none repeat scroll 0 0;
    display: none;
    font-size: 14px;
    margin-top: 170px;
}

.Telephone {
    margin: 124px auto;
    overflow: hidden;
    width: 176px;
}

.Telephone div {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 32px;
}

.phoneanswer, .hangup_two {
    background: #5dca91 none repeat scroll 0 0;
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    margin: 9px 0;
    width: 176px;
}

.hangup_two {
    background: red none repeat scroll 0 0;
}
.endListen {
    background: red none repeat scroll 0 0;
    margin-top: 170px;
    display: none;
}



.minS {
    background: #f9fcfe none repeat scroll 0 0;
    border: 1px solid #93ccff;
    cursor: move;
    display: none;
    height: 70px;
    position: fixed;
    right: 0;
    top: 42%;
    width: 60px;
    z-index: 1000;
}

.minS img {
    margin: 10px 15px 0;
    width: 30px;
}

.minS p {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.dialPhone{
    position: absolute;
    height: 336px;
    width: 196px;
    background: #fff;
    z-index: 2;
    border:1px solid #eee;
    box-shadow:1px 1px 6px 1px #ccc;
    top:59px;
    right:40%;
    cursor:move;
    display:none;
}

.shutDown{
    position:absolute;
    top:6px;
    right:6px;
    width:12px;
    cursor:pointer;
}

.dialPhone .phoneNumber{
    /*background: red;*/
    height:36px;
    width:174px;
    border:1px solid #f2f6f6;
    outline:none;
    color:#333;
    font-size:14px;
    text-align:center;
    margin:22px 12px 8px 12px;
    padding:10px;
    border-radius:8px;
}

.delete{
    height:20px;
    width:20px;
    /*background: red;*/
    position:absolute;
    top:29px;
    right:15px;

}
.delete img{
    cursor: pointer;
    width:18px;
}

.number{
    margin:0 auto 0 12px;
    width:220px;
    overflow: hidden;
}
.number li{
    float:left;
    height:50px;
    width:55px;
    background: #f7f7f7;
    margin:1px;
    color:#666;
    line-height:50px;
    text-align:center;
    cursor: pointer;
    list-style: none;
}

.number li:hover{background:#5dca91;color:#fff; }
.callZong,.Hangup,.endListen{
    height:32px;
    background: #5dca91;
    width:176px;
    color:#fff;
    border-radius: 16px;
    line-height:32px;
    text-align:center;
    margin:10px auto;
    cursor: pointer;
}

.Callerid1 {
    z-index:6;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    box-shadow: 1px 1px 6px 1px #ccc;
    cursor: move;
    display: none;
    height: 330px;
    position: absolute;
    right: 270px;
    top: 45px;
    width: 200px;
    z-index: 6;
}
.Callerid1 div {
    text-align:center;
}
.minSamll1 {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
}



.callPhone1 {
    font-size: 18px;
    height: 24px;
    margin: 30px 0 6px;
    text-align: center;
}

.callOut1 {
    color: #666;
    font-size: 14px;
    height: 20px;
}

.callTime1 {
    color: #666;
    font-size: 14px;
    height: 18px;
}

.Hangup1 {
    background: red none repeat scroll 0 0;
    display: none;
    font-size: 14px;
    margin-top: 170px;
}

.Telephone1 {
    margin: 124px auto;
    overflow: hidden;
    width: 176px;
}

.Telephone1 div {
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 32px;
}

.phoneanswer1, .hangup_two1 {
    background: #5dca91 none repeat scroll 0 0;
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    margin: 9px 0;
    width: 176px;
}

.hangup_two1 {
    background: red none repeat scroll 0 0;
}

.endListen1 {
    background: red none repeat scroll 0 0;
    margin-top: 170px;
    display: none;
}

