body .popup_nav {
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    color: #666;
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

body .popup_nav_left {
    float: left;
    overflow: hidden;
}
body .popup_nav_left img {
    width: 20px;
    margin: 10px 10px 10px 20px;
    display: block;
    float: left;
}

body .popup_nav_left span {
    line-height: 40px;
    display: block;
    float: left;
}

body .popup_btn {
    overflow: hidden;
    margin: 4px 0;
    float: left;
}

body .popup_btn .active {
    color: #fff;
    background: #2095ff;
}

body .popup_btn div {
    border-radius: 3px;
    height: 32px;
    width: 80px;
    background: #eee;
    color: #666;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
body .basicInformation {
    margin-left: 20px;
}

body .popup_btn div:hover {
    color: #fff;
    background: #2095ff;
}

body .popup_information, .popup_workInformation, .uploadContent {
    margin: 0 auto;
    margin-bottom: 0px;
    background: #fbfcfd;
    box-shadow: 1px 1px 4px 1px #dbdbdb;
    border: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

body .information_nav {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #eee;
}

body .information_nav img {
    display: block;
    width: 16px;
    margin: 10px 6px 10px 10px;
    float: left;
}

body .information_nav span {
    display: block;
    float: left;
    color: #999;
    font-size: 12px;
    line-height: 36px;
}

body .popup_information_wai {
    margin-left: 20px;
}

body .popup_information_1 {
    margin-top: 8px;
    overflow: hidden;
}
body .popup_information_1 .popup_left {
    float: left;
}

body .popup_information_1 div {
    float: left;
    margin: 0 50px 0 50px;
}

.popup_left, .popup_center, .popup_right {
    position: relative;
}

body .popup_information_1 span {
    font-size: 14px;
    color: #999;
    margin-right: 10px;
}


body .popup_information_1 input {
    width: 200px;
    padding: 4px 5px;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 0px;
    margin-bottom: 0;
}

.mandatory, .mandatoryPhone {
    position: absolute;
    top: 4px;
    right: -20px;
    width: 16px;
    display: none;
}

body .popup_information_1 .popup_center {
    float: left;
}
body .popup_information_1 .div_center {
    margin: 0 30px;
}
body .popup_information_1 select {
    width: 201px;
    padding: 2px 3px 4px;
    font-size: 14px;
    border: 1px solid #999;
    appearance: normal;
    -moz-appearance: normal;
    -webkit-appearance: normal;
    margin: 0px;
}
.popup_information_1 select {
    border-radius: 0;
    line-height: 24px;
}

body .popup_information_1 .popup_right {
    float: left;
}

.popup_right span, .popup_right input, .popup_right select {
    display: block;
    float: right;
}

body .popup_information_2 input {
     width: 844px;
 }
