<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}">
</head>
<body class="no-skin">
<div class="main-container" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form th:action="@{/role}"   method="post" id="roleForm">
                            <input name="parentId" th:value="${parentId}" type="hidden">
                            <input type="hidden" name="_method" value="put" th:if="${role!=null}"/>
                            <input type="hidden" name="roleId" th:if="${role}!=null" th:value="${role.roleId}">
                            <div id="zhongxin" style="padding-top:13px;">
                                <table class="center" style="width:100%;">
                                    <tr style="text-align: center;">
                                        <td><input type="text" th:value="${role!=null}?${role.roleName}"   name="roleName" id="roleName" placeholder="这里输入名称"   title="名称" style="width:99%;"/></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;padding-top:5px;">
                                            <a shiro:hasPermission="role:update"  class="btn btn-mini btn-primary" onclick="save();">保存</a>
                                            <a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                        <div id="zhongxin2" class="center" style="display:none">
                            <img th:src="@{/img/jzx.gif}" style="width: 50px;"><br/>
                            <h4 class="lighter block green"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/tips/jquery.tips.js}"></script>
<script>
    top.hideMask();
    function save(){
        if($("#roleName").val()==""){
            $("#roleName").tips({
                side:3,
                msg:'请输入',
                bg:'#AE81FF',
                time:2
            });
            $("#roleName").focus();
            return false;
        }
        $("#roleForm").submit();
        $("#zhongxin").hide();
        $("#zhongxin2").show();
    }

</script>
</body>
</html>