<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/ace/ace.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrapTable/css/bootstrap-table.min.css}">
</head>
<body>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <p >
                            <button  shiro:hasPermission="role:add" class="btn btn-white btn-success btn-round "  onclick="addRole('0')">
                                <i class="ace-icon fa fa-plus green"></i>
                                新增角色组
                            </button>
                            <button style="margin-right: 5px;" th:if="${roleGroup}!=null" th:each="role:${roleGroup}"  th:onclick="${'goRoleGroup('''+role.roleId+''')'}" class="btn btn-white btn-default btn-round">
                                <i class="ace-icon fa fa-users blue"></i>
                                [[${role.roleName}]]
                            </button>
                            <input type="hidden" id="searchs" shiro:hasPermission="role:search">
                            <input type="hidden" id="deletes" shiro:hasPermission="role:delete">
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <div id="roletoolbar" >
                            <span class="label label-xlg label-success arrowed arrowed-right">本组：[[${roleName}]]</span>
                            <button class="btn btn-white btn-success btn-round" th:onclick="${'editRole('''+parentId+''')'}" >
                                <!--<i class="ace-icon fa fa-reply blue"></i>-->
                                修改组名称
                            </button>
                            <button  shiro:hasPermission="role:add"  class="btn btn-white btn-success btn-round" th:onclick="${'addRole('''+parentId+''')'}" >
                                <!--<i class="ace-icon fa fa-plus blue"></i>-->
                                新增角色
                            </button>
                        </div>
                        <table id="roleTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="deletePermForm"  method="post">
        <input type="hidden" name="_method" value="delete"/>
    </form>
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/js/bootbox.js}"></script>
    <script th:src="@{/plugins/toastr/toastr.min.js}"></script>
    <script th:inline="javascript">
        toastr.options = {
            closeButton: true,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
            debug: false,                                                    // 是否使用deBug模式
            progressBar: true,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
            positionClass: "toast-bottom-right",              // 设置提示款显示的位置
            onclick: null,                                                     // 点击消息框自定义事件
            showDuration: "300",                                      // 显示动画的时间
            hideDuration: "1000",                                     //  消失的动画时间
            timeOut: "1000",                                             //  自动关闭超时时间
            extendedTimeOut: "1000",                             //  加长展示时间
            showEasing: "swing",                                     //  显示时的动画缓冲方式
            hideEasing: "linear",                                       //   消失时的动画缓冲方式
            showMethod: "fadeIn",                                   //   显示时的动画方式
            hideMethod: "fadeOut"                                   //   消失时的动画方式
        };
        $(function (){
            $('#roleTable').bootstrapTable({
                url : "/getRoles/" + [[${parentId}]],  //请求后台的URL（*）
                method : "GET" , //请求方式（*）
                toolbar : "#roletoolbar" , //工具按钮用哪个容器
                striped: true , //是否显示行间隔色
                cache: false ,  //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false , //是否显示分页（*）
                sortable: false ,  //是否启用排序
                sortOrder: "asc" , //排序方式
                sidePagination: "client" , //分页方式：client客户端分页，server服务端分页（*）
                // queryParamsType : "limit",
                pageNumber: 1 , //初始化加载第一页，默认第一页
                pageSize: 20 , //每页的记录行数（*）
                pageList: [20, 25, 50, 100] , //可供选择的每页的行数（*）
                search: true , //是否显示表格搜索，此搜索是客户端搜索，不会进服务端
                strictSearch: false ,
                showColumns: true , //是否显示所有的列
                showRefresh: false , //是否显示刷新按钮
                minimumCountColumns: 2 , //最少允许的列数
                clickToSelect: true , //是否启用点击选中行
                uniqueId: "roleId" , //每一行的唯一标识，一般为主键列
                showToggle: false , //是否显示详细视图和列表视图的切换按钮
                cardView: false ,   //是否显示详细视图
                detailView: false ,
                columns: [{
                    field : 'roleName',
                    title : "角色",
                    align: 'center',
                    valign: 'middle',
                    sortable : true
                },{
                    title : "操作",
                    align: 'center',
                    valign: 'middle',
                    formatter: function (value, row, index) {
                        return '<div  class="btn-group">' +
                            '<button ' +
                            'class="btn btn-xs btn-warning editPerm" style="margin-left: 6px;" onclick="editRolePerm(\''+row.roleId+'\')">'+
                            '<i class="ace-icon fa fa-flag  bigger-120"></i>权限设置'+
                            '</button>'+
                            '<button class="btn btn-xs btn-info" style="margin-left: 6px;" onclick="editRole(\''+row.roleId+'\')">'+
                            '<i class="ace-icon fa fa-pencil bigger-120"></i>'+
                            '</button>'+
                            '<button class="btn btn-xs btn-danger deletePerm" onclick="deleteRole(&apos;'+row.roleId+'&apos;,&apos;'+row.roleName+'&apos;)" style="margin-left: 6px;" >'+
                            '<i class="ace-icon fa fa-trash-o bigger-120"></i>'+
                            '</button>'+
                            '</div>' ;
                    }
                }],
                onLoadSuccess: function(){  //加载成功时执行
                    if(!document.getElementById("searchs")){
                        $(".editPerm").remove();
                    }
                    if(!document.getElementById("deletes")){
                        $(".deletePerm").remove();
                    }
                    top.hideMask();
                }
            });
        })

        function addRole(parentId){
            top.showMask();
            var diag = new top.Dialog();
            diag.Drag=true;
            if(parentId==0){
                diag.Title ="新增角色组";
            }else{
                diag.Title ="新增角色";
            }
            diag.URL = "/role/"+ parentId;
            diag.Width = 222;
            diag.Height = 110;
            diag.CancelEvent = function(){ //关闭事件
                    top.hideMask();
                    setTimeout("self.location.reload()",100);
                diag.close();
            };
            diag.show();
        }

        function goRoleGroup(id) {
            top.showMask();
            window.location.href = "/roles/"+id;
        }
        function  editRole(id) {
            top.showMask();
            var diag = new top.Dialog();
            diag.Drag=true;
            diag.Title ="编辑角色";
            diag.URL = "/erole/"+ id;
            diag.Width = 222;
            diag.Height = 110;
            diag.CancelEvent = function(){ //关闭事件
                top.hideMask();
                setTimeout("self.location.reload()",100);
                diag.close();
            };
            diag.show();
        }

        function editRolePerm(id){
            top.showMask();
            var diag = new top.Dialog();
            diag.Drag = true;
            diag.Title = "菜单权限";
            diag.URL = '/editRolePerms/'+id;
            diag.Width = 320;
            diag.Height = 450;
            diag.CancelEvent = function(){ //关闭事件
                diag.close();
            };
            diag.show();
        }
        function  deleteRole(id,roleName) {
            if(id==5){
                toastr.warning("当前角色为超级管理员无法删除！");
                return false;
            }
            bootbox.confirm("确定要删除["+roleName+"]吗?", function(result) {
                if(result){
                    $("#deletePermForm").attr("action","/role/"+id+"/"+[[${parentId}]]).submit();
                    return false;
                }
            });
        }
    </script>
</body>
</html>