<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/plugins/bootstrapZtree/js/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.core.js}"></script>
    <script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.exedit.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/plugins/bootstrapZtree/css/bootstrapStyle.css}" >
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}">
</head>
<body class="no-skin">
<div class="main-container" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="zhongxin">
                            <div style="overflow: scroll; scrolling: yes;height:415px;width: 309px;">
                                <ul id="tree" class="ztree" style="overflow:auto;"></ul>
                            </div>
                        </div>
                        <div id="zhongxin2" class="center" style="display:none"><br/><br/><br/><br/><img ><br/><h4 class="lighter block green">正在保存...</h4></div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
</div>
<!-- /.main-content -->

<div style="width: 100%;padding-top: 5px;" class="center">
    <a  class="btn btn-mini btn-primary" onclick="save();">保存</a>
    <a class="btn btn-mini btn-danger closeDialog" onclick="top.Dialog.close();">取消</a>
</div>

<script th:inline="javascript" type="text/javascript">
    top.hideMask();
    var zNodes = [[${perms}]];
    var roleId = [[${roleId}]];
    zNodes = eval(zNodes);
    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: false
        }
    };

    $(document).ready(function(){
        var zTree = $.fn.zTree.init($("#tree"), setting, zNodes);
        //zTree.expandAll(true);
    });
       
    function save() {
        var zTree = $.fn.zTree.getZTreeObj("tree");
        var nodes = zTree.getCheckedNodes();
        var permIds = []
        $.each(nodes,function (i,o) {
            permIds.push(o.id)
        });
        $("#zhongxin").hide();
        $("#zhongxin2").show();
        $.ajax({
            type:"post",
            url:"/role/perms/"+roleId,
            data:{_method:"put",permIds:permIds},
            success : function(){
               $(".closeDialog").trigger("click");
            }
        })
    }

</script>
</body>
</html>