<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.theatre.mapper.ActorMapper">

	<resultMap id="baseResultMap" type="com.example.theatre.entity.Actor">
		<id column="actor_id" property="actorId" jdbcType="INTEGER"/>
		<result column="first_name" property="firstName" jdbcType="VARCHAR"/>
		<result column="last_name" property="lastName" jdbcType="VARCHAR"/>
		<result column="last_update" property="lastUpdate" jdbcType="DATE"/>
	</resultMap>

	<select id="findList" parameterType="java.util.Map" resultMap="baseResultMap">
		select * from actor
		<where>
			<if test="firstName != null and firstName != ''">
				and first_name like CONCAT('%', #{firstName}, '%') 
			</if>
		</where>
	</select>
	
	<select id="findListById" parameterType="java.lang.Integer" resultMap="baseResultMap">
		select * from actor where actor_id = #{actorId, jdbcType=INTEGER}
	</select>

</mapper>