<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.theatre.mapper.ActorMapper">

	<resultMap id="baseResultMap" type="com.example.theatre.entity.Actor">
		<id column="actor_id" property="actorId" jdbcType="INTEGER" />
		<result column="first_name" property="firstName" jdbcType="VARCHAR" />
		<result column="last_name" property="lastName" jdbcType="VARCHAR" />
		<result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="getItemById" parameterType="java.lang.Integer" resultMap="baseResultMap">
		select * from actor where actor_id = #{actorId, jdbcType=INTEGER}
	</select>

	<select id="findItems" parameterType="java.util.Map" resultMap="baseResultMap">
		select * from actor
		<where>
			<if test="keywords != null and keywords != ''">
				and (
				first_name like CONCAT('%', #{firstName}, '%')
				or
				last_name like CONCAT('%', #{lastName}, '%')
				)
			</if>
		</where>
	</select>

	<insert id="insertItem" parameterType="com.example.theatre.entity.Actor">
		<selectKey keyProperty="actorId" order="AFTER" resultType="java.lang.Integer">
			select last_insert_id()
		</selectKey>
		insert into actor
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="firstName != null and firstName != ''">
				first_name,
			</if>
			<if test="lastName != null and lastName != ''">
				last_name,
			</if>
			<if test="lastUpdate != null">
				last_update,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="firstName != null and firstName != ''">
				#{firstName, jdbcType=VARCHAR},
			</if>
			<if test="lastName != null and lastName != ''">
				#{lastName, jdbcType=VARCHAR},
			</if>
			<if test="lastUpdate != null">
				#{lastUpdate, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateItem" parameterType="com.example.theatre.entity.Actor">
		update actor
		<set>
			<if test="firstName != null and firstName != ''">
				first_name = #{firstName, jdbcType=VARCHAR},
			</if>
			<if test="lastName != null and lastName != ''">
				last_name = #{lastName, jdbcType=VARCHAR},
			</if>
			<if test="lastUpdate != null">
				last_update = #{lastUpdate, jdbcType=TIMESTAMP},
			</if>
		</set>
		where actor_id = #{actorId, jdbcType=INTEGER}
	</update>

	<delete id="deleteItem" parameterType="java.lang.Integer">
		delete from actor where actor_id = #{actorId, jdbcType=INTEGER}
	</delete>

</mapper>