<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.theatre.mapper.CityMapper">

	<resultMap id="baseResultMap" type="com.example.theatre.entity.City">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="CountryCode" property="countryCode" jdbcType="VARCHAR" />
		<result column="District" property="district" jdbcType="VARCHAR" />
		<result column="Population" property="population" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getItemById" parameterType="java.lang.Integer" resultMap="baseResultMap">
		select * from city where ID = #{id, jdbcType=INTEGER}
	</select>

	<select id="findItems" parameterType="java.util.Map" resultMap="baseResultMap">
		select * from city
		<where>
			<if test="keywords != null and keywords != ''">
				and (
				Name like CONCAT('%', #{name}, '%')
				or
				CountryCode like CONCAT('%', #{countryCode}, '%')
				or
				District like CONCAT('%', #{district}, '%')
				or
				Population like CONCAT('%', #{population}, '%')
				)
			</if>
		</where>
	</select>
	
	<insert id="insertItem" parameterType="com.example.theatre.entity.City">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select last_insert_id()
		</selectKey>
		insert into city
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''">
				Name,
			</if>
			<if test="countryCode != null and countryCode != ''">
				CountryCode,
			</if>
			<if test="district != null and district != ''">
				District,
			</if>
			<if test="population != null and population != ''">
				Population,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="countryCode != null and countryCode != ''">
				#{countryCode, jdbcType=VARCHAR},
			</if>
			<if test="district != null and district != ''">
				#{district, jdbcType=VARCHAR},
			</if>
			<if test="population != null and population != ''">
				#{population, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateItem" parameterType="com.example.theatre.entity.City">
		update actor
		<set>
			<if test="name != null and name != ''">
				Name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="countryCode != null and countryCode != ''">
				CountryCode = #{countryCode, jdbcType=VARCHAR},
			</if>
			<if test="district != null and district != ''">
				District = #{district, jdbcType=VARCHAR},
			</if>
			<if test="population != null and population != ''">
				Population = #{population, jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id, jdbcType=INTEGER}
	</update>

	<delete id="deleteItem" parameterType="java.lang.Integer">
		delete from city where ID = #{id, jdbcType=INTEGER}
	</delete>

</mapper>