<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>提问-CRM知识库管理系统</title>
    <meta name="description" content="编辑知识--知识库管理系统">
    <meta name="viewport" content="width=device-width, initial-scgale=1.0, maximum-scale=1.0" >
    <link rel="icon" th:href="@{img/icon/bus3.ico}"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-black.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-form.css}">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff; font-weight: bold; padding: 5px;" >
                <img th:src="@{/img/knowledge/book1.png}" alt="知识库" height="40" align="middle">
            </a>
        </div>
        <div class="navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="home/Pubindex.html">
                        <span class="glyphicon glyphicon-home"></span> 首页
                    </a>
                <li>
                    <a href="webspecial/Publist.html">
                        <span class="glyphicon glyphicon-bookmark"></span> 专题
                    </a>
                </li>
                <li>
                    <a href="webtype/view/Pub1.html">
                        <span class="glyphicon glyphicon-book"></span> 知识
                    </a>
                </li>
                <li>
                    <a href="webquest/view/Pub1.html">
                        <span class="glyphicon glyphicon-question-sign"></span> 问答
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 10px;">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus"></span>知识/提问
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a target="_blank"  href="/addKnow">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;创建知识
                            </a>
                        </li>
                        <li>
                            <a target="_blank" >
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;创建提问
                            </a>
                        </li>
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;下载网页知识
                            </a>
                        </li>
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;上传资源知识
                            </a>
                        </li>
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-file"></span>&nbsp;word创建知识
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<shiro:principal property="name"/>
                    </a>
                </li>
            </ul>
            <form  method="post" action="/searchAllKnow" id="lucenesearchFormId" style="margin-top: 10px;" class="navbar-form navbar-right hidden-xs hidden-sm " role="search">
                <div class="form-group">
                    <div class="input-group" style="max-width: 200px;">
                        <input type="text" name="word" id="wordId" value="" class="form-control input-sm" placeholder="检索词...">
                        <input type="hidden" name="resultType"  value="0">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>检索
                            </button>
				        </span>
                    </div>
                </div>
                <button type="submit" id="miniSearchPlusButtonId" class="btn btn-danger btn-sm">高级检索</button>
            </form>
        </div>
    </div>
</div>
<!--HEAD END-->
<div class="super_content">
    <div id="showHomeMessageId" class="new-userMessage">
    </div>
</div>

<!--CONTENT START -->
<div class="containerbox" style="min-height: 125px;">
    <div class="container">
        <div class="row column_box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li class="active">知识</li>
                            <li class="active" >创建问题</li>
                            <li class="active" >编辑问题</li>
                        </ol>
                    </div>
                </div>
                <form id="questForm" class="questForm" role="form" method="post" action="/quest">
                    <input type="hidden" name="resultType" value="2"><!--知识类型为提问-->
                    <input type="hidden" name="_method" value="put" >
                </form>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    知识管理系统-V1.0.0
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</body>
</html>