<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>知识-CRM知识库管理系统</title>
    <meta name="description" content="首页--知识库管理系统">
    <meta name="viewport" content="width=device-width, initial-scgale=1.0, maximum-scale=1.0" >
    <link rel="icon" th:href="@{/img/icon/bus3.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-black.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/default.css}">
</head>
<body>
<!--head-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff; font-weight: bold; padding: 5px;" >
                <img th:src="@{img/knowledge/book1.png}" alt="知识库" height="40" align="middle">
            </a>
        </div>
        <div class="navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/knowMain">
                        <span class="glyphicon glyphicon-home"></span> 首页
                    </a>
                </li>

                <li>
                    <a href="/knowType/13?order=createDate&sort=desc&showType=list">
                        <span class="glyphicon glyphicon-book"></span> 知识
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-bookmark"></span> 我的空间
                    </a>
                </li>
               <!-- <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-question-sign"></span> 问答
                    </a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 10px;" shiro:hasPermission="know:add">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus"></span>知识/创建
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a target="_blank" href="/addKnow">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;创建知识
                            </a>
                        </li>
                        <!--<li>
                            <a target="_blank" >
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;创建提问
                            </a>
                        </li>-->
                        <!--<li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;下载网页知识
                            </a>
                        </li>-->
                       <!-- <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;上传资源知识
                            </a>
                        </li>-->
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-file"></span>&nbsp;word创建知识
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<shiro:principal property="name"/>
                    </a>
                </li>
            </ul>
            <form  method="post" action="/searchAllKnow" id="lucenesearchFormId" style="margin-top: 10px;" class="navbar-form navbar-right hidden-xs hidden-sm " role="search">
                <div class="form-group">
                    <div class="input-group" style="max-width: 200px;">
                        <input type="text" name="word" id="wordId" value="" class="form-control input-sm" placeholder="检索词...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>检索
                            </button>
				        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--head-->
<div class="super_content">
    <div id="showHomeMessageId" class="new-userMessage">
    </div>
</div>
<div class="containerbox" style="min-height: 125px;">
<div class="container">
    <div style="margin-top: 8px;"></div>
    <div class="row">
        <div class="col-xs-12" style="padding: 1px;">
            <div class="widget-box shadow-box hidden-xs hidden-sm" style="">
                <div class="stream-list p-stream">
                    <div class="stream-item-img" id="loop-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-height: 350px;">
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active left">
                                            <a target="_blank"  role="button">
                                                <img class="first-slide" style="width: 100%; max-height: 350px;"
                                                     th:src="@{/img/knowledge/main1.jpg}"
                                                     alt="主页">
                                            </a>
                                        </div>
                                        <div class="item next left">
                                            <a target="_blank"  role="button">
                                                <img class="first-slide" style="width: 100%; max-height: 350px;"
                                                     th:src="@{/img/knowledge/main2.jpg}" alt="资源知识:图片资源文件"></a>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm hidden-md" style="padding: 1px;">
            <div class="widget-box shadow-box">
                <div class="title">
                    <h3>
                        <i class="glyphicon glyphicon-fire"></i>&nbsp;热门知识
                    </h3>
                </div>
                <ul class="box-list" id="hots" >
                    <li th:each="hKnow:${hotKnows}">
                        <div class="li-out">
                            <span class="last"> </span>
                            <span class="name">
	                            <span class="glyphicon glyphicon-book"></span>
						        <a th:title="${hKnow.knowTitle}" target="_blank" th:href="@{'/know/'+${hKnow.id}}" th:text="${hKnow.knowTitle}"></a>
					        </span>
                            <span class="nums" th:text="${hKnow.readCount}"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9" style="padding: 1px;">
            <div class="shadow-box hidden-xs" style="background-color: #f4f4f4;">
                <div class="title">
                    <div style="margin: 16px; padding-left: 10%; padding-right: 10%;">
                        <form  id="searchKnow" method="post" action="/searchAllKnow">
                            <div class="input-group">
                                <input type="text" class="form-control" name="word" value="" id="searchInput" placeholder="请输入关键字...">
                                <!--<input type="hidden" name="resultType" id="resultTypeInputId" value="0">-->
                                <div class="input-group-btn">
                                    <button class="btn btn-info" type="submit">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        &nbsp;
                                        <span id="resultTypeNameId">检索</span>
                                    </button>
                                   <!-- <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:chooseResultType(0);">查找&nbsp;<b>全部</b></a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript:chooseResultType(1);">查找&nbsp;<b>知识</b></a></li>
                                        <li><a  href="javascript:chooseResultType(2);">查找&nbsp;<b>问答</b></a></li>
                                    </ul>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-danger" id="searchPlusButtonId" style="margin-left: 16px;">高级检索</a>
                                    </div>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="padding: 12px; padding-top: 0px; padding-bottom: 0px;" class=" hidden-xs hidden-sm hidden-md">
                <div class="row" th:if="${topThreelist!=null}">
                    <div class="col-md-4" style="padding: 4px; padding-top: 0px;" th:each="knowT:${topThreelist}">
                        <div class="doc_max_box">
                            <div class="doc_max_img_box">
                                <a target="_blank" th:href="@{'/know/'+${knowT.id}}">
                                    <img class="doc_max_img effect-img" th:src="@{${knowT.knowImg!=null?knowT.knowImg:'/img/knowledge/docNoImg.png'}}" th:alt="${knowT.knowTitle}">
                                </a>
                            </div>
                            <div class="doc_max_title">
                                <a target="_blank" th:href="@{'/know/'+${knowT.id}}">
                                    <nobr>[[${knowT.knowTitle}]]</nobr>
                                </a>
                            </div>
                            <div class="doc_max_box_text">
                                <span class="doc_node_info"> 阅读([[${knowT.readCount}]]) | 好评([[${knowT.goodCount}]]) </span>
                                [[${knowT.knowContentTxt}]]...

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-box shadow-box" style="padding-bottom: 16px;">
                <div class="title" style="border-bottom-width:0px">
                    <h3>
                        <i class="glyphicon glyphicon-tree-conifer"></i> 知识分类
                    </h3>
                </div>
                <div class="stream-list p-stream" style="margin-top: -10px;" >
                    <div  class="col-sm-6 docTypeBox" th:if="${type.hasMenu}" th:each="type:${types}"  >
                        <h1>
                            <a href="#" > [[${type.text}]]： </a>
                            <span style="color: #D9534F; font-weight: bold; font-size: 13px;">
                           <!-- <span class=" glyphicon glyphicon-bookmark"></span>&nbsp;6&nbsp;
                            <span class="glyphicon glyphicon-question-sign"></span>&nbsp;3&nbsp;-->
                        </span>
                        </h1>
                        <ul>
                            <li  th:each="type1:${type.getSonTypes()}">
                                <a href="#" th:text="${type1.text}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="widget-box shadow-box " style="padding-bottom: 0px;">
                <div class="title">
                    <h3>
                        <i class="glyphicon glyphicon-star"></i>
                        最新知识
                        <a class="more-link" href="#">查看更多</a>
                    </h3>
                </div>
                <style>
                    .tagsearch {
                        cursor: pointer;
                        padding: 2px;
                        padding-left: 4px;
                        padding-right: 4px;
                        font-size: 12px;
                        background-color: #aaa;
                    }

                    .wcp-typetop {
                        font-size: 18px;
                        padding-left: 6px;
                        padding-right: 6px;
                        padding-top: 2px;
                        padding-bottom: 1px;
                    }
                </style>
                <div class="stream-list p-stream doc_brief">
                    <div class="stream-item" th:each="newKnow:${newKnows}">
                        <div class="media">
                            <div class="pull-right hidden-xs doc-brief-imgbox effect-img" th:if="${newKnow.knowImg!=''}">
                                <img alt="预览图" th:src="@{${newKnow.knowImg}}">
                            </div>
                            <div class="media-body">
                                <div style="margin-left: 4px;" class="pull-left">
                                    <div class="doc_node_title_box">
                                        <a class="doc_node_title" target="_blank" th:href="'/konw'+${newKnow.id}">
                                            [[${newKnow.knowTitle}]]
                                            <span class="glyphicon glyphicon-book"></span>
                                        </a>
                                    </div>
                                    <div>
                                        <p th:text="${newKnow.knowContentTxt}" class="doc_node_content" style="margin-bottom: 4px; height: auto;">
                                        </p>
                                    </div>
                                    <div style="max-height: 48px; overflow: hidden; margin-bottom: 4px;" th:if="${newKnow.knowTag!=null}">
                                        <span th:each="tag:${newKnow.knowTag.split('/')}" th:if="${tag!=''}" class="label label-default tagsearch" th:title="${tag}" th:text="${tag}">项目</span>
                                    </div>
                                    <div class="side_unit_info side_unit_info_left_box">
                                        <a href="#" class="tip">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <span th:text="${newKnow.creater}"></span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;
                                        [[${newKnow.createDate}]]
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="#">
                                            类型:
                                            <span class="tip" th:text="${newKnow.knowType}"></span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;
                                        <span title="好评">
								            <i class="glyphicon glyphicon-star"></i>
								                [[${newKnow.goodCount}]]
							                </span>
                                        <span title="阅读量">
								            <i class="glyphicon glyphicon-hand-up"></i>
								            [[${newKnow.readCount}]]
							            </span>
                                        <span title="评论数">
								            <i class="glyphicon glyphicon-comment"></i>
								            [[${newKnow.badCount}]]
							            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="foot">
    知识管理系统-V1.0.0
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:inline="javascript">
$(function(){
    $('#myCarousel').carousel({
        //控制轮播组件的切换间隔
        interval: 5000
    })
});
function chooseResultType(i) {
    $("#resultTypeInputId").val(i);
    if(i==0){
        $("#resultTypeNameId").text("检索");
    }else if(i==1){
        $("#resultTypeNameId").text("知识");
    }else{
        $("#resultTypeNameId").text("问答");
    }
}
</script>
</body>
</html>