<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>分类--知识库管理系统</title>
    <meta name="description" content="全文检索--知识库管理系统">
    <meta name="viewport" content="width=device-width, initial-scgale=1.0, maximum-scale=1.0" >
    <link rel="icon" th:href="@{/img/icon/bus3.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/web-black.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/knowledge/default.css}">
</head>
<body>
<!--head-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff; font-weight: bold; padding: 5px;" >
                <img th:src="@{/img/knowledge/book1.png}" alt="知识库" height="40" align="middle">
            </a>
        </div>
        <div class="navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/knowMain">
                        <span class="glyphicon glyphicon-home"></span> 首页
                    </a>
                </li>
                <li>
                    <a th:href="@{'/knowType/13?order='+${order}+'&sort='+${sort}+'&showType='+${showType}}">
                        <span class="glyphicon glyphicon-book"></span> 知识
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-bookmark"></span> 我的空间
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 10px;">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" shiro:hasPermission="know:add">
                        <span class="glyphicon glyphicon-plus"></span>知识/创建
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a target="_blank" href="/addKnow">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;创建知识
                            </a>
                        </li>
                        <!--<li>
                            <a target="_blank" >
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;创建提问
                            </a>
                        </li>
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;下载网页知识
                            </a>
                        </li>
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-folder-close"></span>&nbsp;上传资源知识
                            </a>
                        </li>-->
                        <li>
                            <a target="_blank">
                                <span class="glyphicon glyphicon-file"></span>&nbsp;word创建知识
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<shiro:principal property="name"/>
                    </a>
                </li>
            </ul>
            <form  method="post" action="/searchAllKnow" id="lucenesearchFormId" style="margin-top: 10px;" class="navbar-form navbar-right hidden-xs hidden-sm " role="search">
                <div class="form-group">
                    <div class="input-group" style="max-width: 200px;">
                        <input type="text" name="word" id="wordId" value="" class="form-control input-sm" placeholder="检索词...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>检索
                            </button>
				        </span>
                    </div>
                </div>
                <!--<button type="submit" id="miniSearchPlusButtonId" class="btn btn-danger btn-sm">高级检索</button>-->
            </form>
        </div>
    </div>
</div>
<!--head-->
<div class="super_content">
    <div id="showHomeMessageId" class="new-userMessage">
    </div>
</div>
<div class="containerbox" style="min-height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-3  hidden-xs clear-both">
                <div class="row column_box">
                    <span class="glyphicon glyphicon-fire  column_title">&nbsp;知识分类</span>
                </div>
                <div style="margin-top: 8px;"></div>
                <div class="panel panel-default">
                    <ul class="doctypeUl"  >
                        <li th:each="konwType:${types}" th:if="${konwType.parentId==13}">
                            <h5 class="showLableType3">
                                <a class="linkTitle linklevel1" th:id="${konwType.id}" th:attr="knowTags=${konwType.title}" th:text="${konwType.text}" th:href="@{'/knowType/'+${konwType.id}+'?order='+${order}+'&sort='+${sort}+'&showType='+${showType}}"></a>
                                <span class="farm_tree_num" th:if="${konwType.typeCount!=0}" th:text="${konwType.typeCount}"></span>
                                <a th:if="${konwType.hasMenu}" class="glyphicon farm_tree_flag  farm_tree_s glyphicon-chevron-up"  onclick="clickTreeFlag(this)">
                                </a>
                            </h5>
                            <ul  th:if="${konwType.hasMenu}" >
                                <li th:each="konwType1:${konwType.getSonTypes()}">
                                    <h5 class="showLableType3">
                                        <a class="linkTitle linklevel2" th:id="${konwType1.id}" th:text="${konwType1.text}"  th:href="@{'/knowType/'+${konwType1.id}+'?order='+${order}+'&sort='+${sort}+'&showType='+${showType}}">
                                        </a>
                                        <span class="farm_tree_num" th:if="${konwType1.typeCount!=0}" th:text="${konwType1.typeCount}"></span>
                                        <a th:if="${konwType1.hasMenu}" class="glyphicon farm_tree_flag  farm_tree_s glyphicon-chevron-up"  onclick="clickTreeFlag(this)">
                                        </a>
                                    </h5>
                                    <ul  th:if="${konwType1.hasMenu}">
                                        <li th:each="konwType2:${konwType1.getSonTypes()}">
                                            <a class="linkTitle linklevel2" th:id="${konwType2.id}" th:text="${konwType2.text}" th:href="@{'/knowType/'+${konwType2.id}+'?order='+${order}+'&sort='+${sort}+'&showType='+${showType}}">
                                            </a>
                                            <span class="farm_tree_num" th:if="${konwType2.typeCount!=0}" th:text="${konwType2.typeCount}"></span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9  clear-both">
                <div class="row column_box">
                    <div class="col-sm-12">
                        <!--列表操作按钮（网格/列表/排序条件等） -->
                        <div class="btn-group hidden-xs hidden-sm hidden-md" style="float: right; margin-top: -10px; margin-left: 4px;">
                            <div class="btn-group btn-group-sm" role="group">
                                <button  th:if="${order=='createDate'}" title="排序类型" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    排序:
                                    &nbsp;更新时间&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <button  th:if="${order=='readCount'}" title="排序类型" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    排序:
                                    &nbsp;阅读量&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <button  th:if="${order=='goodCount'}" title="排序类型" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    排序:
                                    &nbsp;好评量&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li th:if="${order!='createDate'}">
                                        <a th:href="@{'/knowType/13?order=createDate&sort='+${sort}+'&showType='+${showType}}" style="font-size: 12px;" >
                                            <i style="color: #666;" class="glyphicon glyphicon-dashboard"></i>
                                            &nbsp;更新时间
                                        </a>
                                    </li>
                                    <li th:if="${order!='readCount'}">
                                        <a th:href="@{'/knowType/13?order=readCount&sort='+${sort}+'&showType='+${showType}}" style="font-size: 12px;">
                                            <i style="color: #666;" class="glyphicon glyphicon-hand-up"></i>
                                            &nbsp;阅读量
                                        </a>
                                    </li>
                                    <li th:if="${order!='goodCount'}">
                                        <a  th:href="@{'/knowType/13?order=goodCount&sort='+${sort}+'&showType='+${showType}}" style="font-size: 12px;">
                                            <i style="color: #666;" class="glyphicon glyphicon-star"></i>
                                            &nbsp;好评量
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- 排序方式(正序|逆序) -->
                            <a th:href="@{'/knowType/13?sort=asc&order='+${order}+'&showType='+${showType}}" th:if="${sort=='desc'}" title="降序" type="button" class="btn btn-default btn-sm">
                                <i style="color: #666;" class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                            </a>
                            <a th:href="@{'/knowType/13?sort=desc&order='+${order}+'&showType='+${showType}}" th:if="${sort=='asc'}" title="升序" type="button" class="btn btn-default btn-sm">
                                <i style="color: #666;" class="glyphicon glyphicon-sort-by-attributes"></i>
                            </a>
                            <!-- 展示方式（列表|網格） -->
                            <a th:href="@{'/knowType/13?order='+${order}+'&sort='+${sort}+'&showType=list'}" class="btn btn-default btn-sm " title="列表模式" >
                                <i style="color: #666;" class="glyphicon glyphicon-th-list"></i>
                            </a>
                            <a th:href="@{'/knowType/13?order='+${order}+'&sort='+${sort}+'&showType=grid'}" class="btn btn-default btn-sm active" style="cursor: default;" title="网格模式">
                                <i style="color: #666;" class="glyphicon glyphicon-th-large"></i>
                            </a>

                        </div>
                        <span class="glyphicon glyphicon-fire  column_title">&nbsp;知识</span>
                    </div>
                </div>
                <div style="margin-top: 8px;"></div>
                <div class="panel panel-default block-info-box" style="min-height: 200px">
                    <div class="panel-body">
                        <style>
                            .tagsearch {
                                cursor: pointer;
                                padding: 2px;
                                padding-left: 4px;
                                padding-right: 4px;
                                font-size: 12px;
                                background-color: #aaa;
                            }

                            .wcp-typetop {
                                font-size: 14px;
                                padding-left: 6px;
                                padding-right: 6px;
                                padding-top: 1px;
                                padding-bottom: 1px;
                            }

                        </style>
                        <div th:if="${knows.size()==0}" style="margin: 20px; margin-top: 20px; margin-bottom: 10px;">
                            <div class="alert alert-warning">
                                未发现知识，请创建知识!
                            </div>
                        </div>
                        <div class="row" style="margin: 8px;">
                            <div class="col-xs-4" style="padding: 8px; margin-bottom: 0px;" th:each="newKnow:${knows}">
                                <div class="panel panel-default">
                                    <div class="panel-footer" style="padding: 0px;">
                                        <img class="img-responsive gridimg" alt="预览图" th:if="${newKnow.knowImg!=''}" th:src="@{${newKnow.knowImg}}" style="width: 100%; height: 188.807px;">
                                        <img class="img-responsive gridimg" alt="预览图" th:if="${newKnow.knowImg==''}" th:src="@{/img/knowledge/docNoImg.png}" style="width: 100%; height: 188.807px;">
                                    </div>
                                    <div style="padding: 8px; height: 110px;">
                                        <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 0px; padding-bottom: 0px;height: 30px;">
                                            <a th:title="${newKnow.knowTitle}" class="doc_node_title" target="_blank" th:href="@{'/know/'+${newKnow.id}}">
                                                <span class="glyphicon glyphicon-book"></span>
                                                [[${newKnow.knowTitle}]]
                                            </a>
                                        </p>
                                        <div class="side_unit_info " style="height: 24px; overflow: hidden; margin-bottom: 4px;"  th:if="${newKnow.knowTag!=null}">
                                            <span th:each="tag:${newKnow.knowTag.split('/')}" th:if="${tag!=''}" class="label label-default tagsearch" th:title="${tag}" th:text="${tag}"></span>
                                        </div>
                                        <div class="side_unit_info " style="height: 22px;">
                                            <div style="float: left;">
                                                <a href="#" class="tip" th:title="${newKnow.knowTitle}" >
                                                    <i class="glyphicon glyphicon-user"></i>
                                                    <span th:text="${newKnow.creater}"></span>
                                                </a>
                                            </div>
                                            <div style="float: right;">
                                                <a href="#">
                                                    分类:
                                                    <span class="tip" th:text="${newKnow.knowType}"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="side_unit_info " style="height: 22px;">
                                            &nbsp;&nbsp;&nbsp;
                                            <div style="float: left;">
                                                [[${newKnow.createDate}]]
                                            </div>
                                            <div style="float: right;">
                                                <span title="好评量">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                   [[${newKnow.goodCount}]]
                                                </span>
                                                <span title="阅读量">
								                    <i class="glyphicon glyphicon-hand-up"></i>
								                    [[${newKnow.readCount}]]
                                                </span>
                                                <span title="评论数">
								                    <i class="glyphicon glyphicon-comment"></i>
								                    [[${newKnow.badCount}]]
							                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    知识管理系统-V1.0.0
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
<script th:inline="javascript">
function clickTreeFlag(obj) {
    if($(obj).hasClass("glyphicon-chevron-down")){
        $(obj).removeClass("glyphicon-chevron-down");
        $(obj).addClass("glyphicon-chevron-up");
        $(obj).parent().next().css("display","block");
    }else  if($(obj).hasClass("glyphicon-chevron-up")){
        $(obj).removeClass("glyphicon-chevron-up");
        $(obj).addClass("glyphicon-chevron-down");
        $(obj).parent().next().css("display","none");
    }
}


</script>
</body>
</html>