<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/ace/ace.min.css}">
		<link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}">
		<link rel="stylesheet" th:href="@{/plugins/bootstrapZtree/css/bootstrapStyle.css}">
		<link rel="stylesheet" th:href="@{/css/bus_friend/friend_event_save.css}">
		<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.core.js}"></script>
		<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.excheck.js}"></script>
		<script th:src="@{/plugins/bootstrapZtree/js/jquery.ztree.exedit.js}"></script>
		<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
		<script th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
		<script th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>
		<script th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
		<script th:src="@{/plugins/fileInput/elements.fileinput.js}"></script>
		<script th:src="@{/plugins/tips/jquery.tips.js}"></script>
		<script th:src="@{/js/ace/ace.min.js}"></script>
		<script th:src="@{/js/bootbox.js}"></script>
		<script th:src="@{/js/bus_friend/dump.js}"></script>
		<script th:src="@{/js/bus_friend/friend_event_save.js}"></script>
	</head>
	<body class="no-skin">
		<div class="main-container" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" id="friendEventForm">
									<div id="zhongxin" style="padding-top: 13px;"></div>
									<input type="hidden" name="id" th:value="${friendEvent!=null?friendEvent.id:''}" />
									<input type="hidden" name="status" value="0" />
									<table id="table_friend_event" class="table table-striped table-bordered table-hover">
										<tr>
											<td class="usertd">标题：</td>
											<td colspan="3">
												<input type="text" name="title" title="标题名称" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.title:''}" />
											</td>
										</tr>
										<tr>
											<td class="usertd">成员：</td>
											<td colspan="3">
												<input type="text" name="members" title="参与成员" style="width: 98%;" />
												<div id="membersList" class="complexList">
												<ul th:if="${friendEvent!=null&&friendEvent.members!=null&&friendEvent.members.size()>0}">
													<li th:each="element : ${friendEvent.members}" th:value="${element.id}"  th:text="${element.name}" />
												</ul>
												<a href="#" data-toggle="modal" data-target="#membersModal" title="编辑">
													<i class="fa fa-pencil"></i>
												</a>
											</div>
											</td>
										</tr>
										<tr>
											<td class="usertd">开始时间：</td>
											<td>
												<input type="text" name="timeFrom" title="开始时间" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.timeFrom:0}" /> 
											</td>
											<td class="usertd">结束时间：</td>
											<td>
												<input type="text" name="timeTo" title="结束时间" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.timeTo:0}" /> 
											</td>
										</tr>
										<tr>
											<td class="usertd">地点：</td>
											<td colspan="3">
												<input type="text" name="location" title="活动地点" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.location:''}" />
											</td>
										</tr>
										<tr>
											<td class="usertd">内容：</td>
											<td>
												<input type="text" name="content" title="内容文件" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.content:''}" />
											</td>
											<td class="usertd">相片：</td>
											<td>
												<input type="text" name="photo" title="活动相片" style="width: 98%;"
												th:value="${friendEvent!=null?friendEvent.photo:''}" />
											</td>
										</tr>
										<tr>
											<td class="usertd">概述：</td>
											<td colspan="3">
												<textarea name="summary" title="活动概述" style="width: 98%;"
												th:text="${friendEvent!=null?friendEvent.summary:''}">
												</textarea>
											</td>
										</tr>
										<tr>
											<td style="text-align: center;" colspan="4">
												<a class="btn btn-mini btn-primary" onclick="save()">保存</a> 
												<a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
											</td>
										</tr>
									</table>
								</form>
								<div id="zhongxin2" class="center" style="display: none">
									<img th:src="@{/img/jzx.gif}" style="width: 50px;"><br/>
									<h4 class="lighter block green"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>