<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}">
</head>
<body class="no-skin">
<div class="main-container" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" role="form" th:action="@{/iUser}" id="userForm" method="post">
                            <div id="zhongxin" style="padding-top: 13px;"></div>
                            <input type="hidden" name="_method" value="put" />
                            <input type="hidden" name="userId"  th:value="${user.userId}">
                            <table id="table_report" class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">工号:</td>
                                    <td><input type="text" name="number" id="number"  maxlength="32"
                                               placeholder="这里输入工号" title="工号" style="width: 98%; color: gray;"
                                               readonly="readonly" th:value="${user.number}"></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">姓名:</td>
                                    <td><input type="text" name="name" id="name"  maxlength="32"
                                               placeholder="这里输入姓名" title="姓名" style="width: 98%; color: gray;"
                                               th:value="${user.name}"></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">密码:</td>
                                    <td><input type="password" name="password" th:value="${user.password}"
                                               id="password"  maxlength="32" placeholder="输入密码" title="密码"
                                               style="width:98%;"/></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">确认密码:</td>
                                    <td><input type="password" name="chkpwd" id="chkpwd"  maxlength="32"
                                               placeholder="确认密码" title="确认密码" style="width:98%;"/></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">手机号:</td>
                                    <td><input type="text" name="telephone" id="telephone"  th:value="${user.telephone}"
                                               maxlength="32" placeholder="这里输入手机号" title="手机号"
                                               style="width:98%;"/></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">邮箱:</td>
                                    <td><input type="text" name="email" id="email"  th:value="${user.email}"
                                               maxlength="32" placeholder="这里输入邮箱" title="邮箱"  style="width:98%;"/></td>
                                </tr>
                                <tr>
                                    <td style="width:79px;text-align: right;padding-top: 13px;">备注:</td>
                                    <td><input type="text" name="remark" id="remark" th:value="${user.remark }"
                                               placeholder="这里输入备注" maxlength="64" title="备注" style="width:98%;"/></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;" colspan="10">
                                        <a class="btn btn-mini btn-primary" onclick="save();">保存</a>
                                        <a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div id="zhongxin2" class="center" style="display:none">
                            <img th:src="@{/img/jzx.gif}" style="width: 50px;"><br/>
                            <h4 class="lighter block green"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-1.7.2.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/ace/ace.min.js}"></script>
<script th:src="@{/plugins/tips/jquery.tips.js}"></script>
<script th:inline="javascript">
    top.hideMask();
    function save() {
        if($("#name").val()==""){
            $("#name").tips({
                side:3,
                msg:'输入姓名',
                bg:'#AE81FF',
                time:3
            });
            $("#name").focus();
            return false;
        }
        if($("#chkpwd").val()!=$("#password").val()){
            $("#password").tips({
                side:3,
                msg:'两次输入的密码不一致',
                bg:'#AE81FF',
                time:3
            });
            $("#password").focus();
            return false;
        }
        $("#userForm").submit();
        $("#zhongxin").hide();
        $("#zhongxin2").show();
    }

</script>
</body>
</html>