<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/toastr/toastr.min.css}">
</head>
<body class="no-skin">
<div class="main-container" id="main-container">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form method="post" enctype="multipart/form-data" th:action="@{/userImg}">
                            <div class="row" style="margin-top: 10px;text-align: center">
                                <div class="col-md-12"  >
                                    <input type="hidden" name="_method" value="put">
                                    <img id="imgShowBoxId" th:if="${user.userImg==null}" th:src="@{/img/user/admin.png}" alt="头像" class="img-thumbnail" style="width: 200px; height: 200px;">
                                    <img id="imgShowBoxId2" th:if="${user.userImg==null}" th:src="@{/img/user/admin.png}" alt="头像" class="img-thumbnail" style="width: 64px; height: 64px;">
                                    <img id="imgShowBoxId" th:if="${user.userImg!=null}" th:src="@{${user.userImg}}" alt="头像" class="img-thumbnail" style="width: 200px; height: 200px;">
                                    <img id="imgShowBoxId2" th:if="${user.userImg!=null}" th:src="@{${user.userImg}}" alt="头像" class="img-thumbnail" style="width: 64px; height: 64px;">
                                    <input type="hidden" name="userId" id="userId" th:value="${user.userId}"readonly="readonly">
                                    <input type="button" class="ke-button-common ke-button" id="uploadImg" value="上传头像">
                                    <input type="file" class="ke-upload-file" id="userImg" name="userImg" style="display: none">
                                </div>
                            </div>
                            <div class="row"  style="margin-top: 10px;">
                                <div class="col-md-12" >
                                    <button type="submit" id="registSubmitButtonId" class="btn btn-primary btn-sm">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-1.7.2.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/toastr/toastr.min.js}"></script>
<script th:inline="javascript">
    top.hideMask();
    toastr.options = {
        closeButton: true,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
        debug: false,                                                    // 是否使用deBug模式
        progressBar: true,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
        positionClass: "toast-bottom-right",              // 设置提示款显示的位置
        onclick: null,                                                     // 点击消息框自定义事件
        showDuration: "300",                                      // 显示动画的时间
        hideDuration: "1000",                                     //  消失的动画时间
        timeOut: "1000",                                             //  自动关闭超时时间
        extendedTimeOut: "1000",                             //  加长展示时间
        showEasing: "swing",                                     //  显示时的动画缓冲方式
        hideEasing: "linear",                                       //   消失时的动画缓冲方式
        showMethod: "fadeIn",                                   //   显示时的动画方式
        hideMethod: "fadeOut"                                   //   消失时的动画方式
    };
    $("#uploadImg").click(function () {
        $("#userImg").trigger("click");
    });
    $("#userImg").on("change",function (e) {
        var file =  e.target.files[0];
        var fileName = $("#userImg").val()
        var a = (fileName).lastIndexOf(".");
        var b = ($("#userImg").val()).substring(a+1,fileName.length);
        if(b=='png' ||b=='jpg'||b=='jpeg'||b=="gif"){

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function () {
                // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                var dataURL = reader.result;
                $("#imgShowBoxId").attr("src",dataURL);
                $("#imgShowBoxId2").attr("src",dataURL);
            };
        }else{
            toastr.error("文件类型错误，允许的类型为：PNG,JPG,JPEG,GIF");
            return ;
        }
    })
</script>
</body>
</html>