<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrapTable/css/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/ace/ace.min.css}"  class="ace-main-stylesheet" id="main-ace-style" >
    <link rel="stylesheet" th:href="@{/css/workorder.css}">
</head>
<body  class="no-skin">
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content popup">
           <div class="popup_nav">
               <div class="popup_nav_left">
                   <img th:src="@{/img/workorder/gongdan.png}">
                   <span>新建工单</span>
               </div>
               <div class="popup_btn">
                   <div class="basicInformation active">添加工单</div>
                   <div class="uploadAttachment">上传附件</div>
                   <div class="otherInformation">历史工单</div>
               </div>
           </div>
            <div class="popup_information">
                <div class="information_nav">
                    <img th:src="@{/img/workorder/popup_information.png}">
                    <span>客户基本信息</span>
                </div>
                <form class="popup_information_wai">
                    <div class="popup_information_1">
                        <div class="popup_left mandatoryFather">
                            <span>姓名</span>
                            <input id="name" name="name" type="text">
                        </div>
                        <div class="popup_center div_center">
                            <span style="margin-right:11px;">类型</span>
                            <select name="type" id="type">
                                <option value="" class="popup_information_customertype"></option>
                                <option class="customertype_option" value="服务建议" >服务建议</option>
                                <option value="普通用户">普通用户</option>
                                <option value="工业用户">工业用户</option>
                                <option value="商业用户">商业用户</option>
                                <option value="VIP客户">VIP客户</option>
                                <option value="其他">其他</option>
                                <option value="VIP">VIP</option>
                            </select>
                        </div>
                        <div class="popup_right">
                            <select name="sex" id="sex">
                                <option value=""></option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                            <span style="margin-right:11px;line-height:26px">性别</span>
                        </div>
                    </div>
                    <div class="popup_information_1">
                        <div class="popup_left mandatoryFather">
                            <span>电话</span>
                            <input id="telephone" name="telephone" type="text">
                        </div>
                        <div class="popup_center div_center">
                            <span style="margin-right:5px;">电话1</span>
                            <input id="telephone1" name="telephone1" type="text">
                        </div>
                        <div class="popup_right">
                            <input id="telephone2" name="telephone2" type="text">
                            <span style="margin-right:5px;line-height:26px">电话2</span>
                        </div>
                    </div>
                    <div class="popup_information_1">
                        <div class="popup_left mandatoryFather">
                            <span>邮箱</span>
                            <input id="email" name="email" type="text">
                        </div>
                        <div class="popup_center div_center">
                            <span style="margin-right:19px;">QQ</span>
                            <input id="qq" name="qq" type="text">
                        </div>
                        <div class="popup_right">
                            <input id="remark" name="remark" type="text">
                            <span style="margin-right:13px;line-height:26px">备注</span>
                        </div>
                    </div>
                    <div class="popup_information_1 popup_information_2">
                        <div class="popup_left">
                            <span>地址</span>
                            <input id="address" name="address" type="text"></div>
                    </div>
                </form>
            </div>
            <div class="popup_workInformation">
                <div class="information_nav">
                    <img th:src="@{/img/workorder/popup_workInformation.png}"  alt="">
                    <span>工单信息</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrapTable/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrapTable/js/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:inline="javascript">
    top.hideMask();
</script>
</body>
</html>