<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.Collect">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="knowId" jdbcType="INTEGER" property="knowId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, knowId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kw_collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kw_collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.Collect">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kw_collect (number, knowId)
    values (#{number,jdbcType=VARCHAR}, #{knowId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.Collect">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kw_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        number,
      </if>
      <if test="knowId != null">
        knowId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="knowId != null">
        #{knowId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.Collect">
    update kw_collect
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="knowId != null">
        knowId = #{knowId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.Collect">
    update kw_collect
    set number = #{number,jdbcType=VARCHAR},
      knowId = #{knowId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--判断该知识是否已经收藏-->
  <select id="findCollectExsit" parameterType="com.zh.crm.entity.Collect" resultType="java.lang.Integer">
    select id from kw_collect
    where number = #{number,jdbcType=VARCHAR} and knowId = #{knowId,jdbcType=INTEGER}
  </select>
</mapper>