<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.CommentCountMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.CommentCount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commentId" jdbcType="INTEGER" property="commentId" />
    <result column="agreeCount" jdbcType="INTEGER" property="agreeCount" />
    <result column="opposeCount" jdbcType="INTEGER" property="opposeCount" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commentId, agreeCount, opposeCount, creater
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kw_comment_count
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kw_comment_count
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.CommentCount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kw_comment_count (commentId, agreeCount, opposeCount, 
      creater)
    values (#{commentId,jdbcType=INTEGER}, #{agreeCount,jdbcType=INTEGER}, #{opposeCount,jdbcType=INTEGER}, 
      #{creater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.CommentCount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kw_comment_count
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        commentId,
      </if>
      <if test="agreeCount != null">
        agreeCount,
      </if>
      <if test="opposeCount != null">
        opposeCount,
      </if>
      <if test="creater != null">
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="agreeCount != null">
        #{agreeCount,jdbcType=INTEGER},
      </if>
      <if test="opposeCount != null">
        #{opposeCount,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.CommentCount">
    update kw_comment_count
    <set>
      <if test="commentId != null">
        commentId = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="agreeCount != null">
        agreeCount = #{agreeCount,jdbcType=INTEGER},
      </if>
      <if test="opposeCount != null">
        opposeCount = #{opposeCount,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.CommentCount">
    update kw_comment_count
    set commentId = #{commentId,jdbcType=INTEGER},
      agreeCount = #{agreeCount,jdbcType=INTEGER},
      opposeCount = #{opposeCount,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询支持量-->
  <select id="findAgreeCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(agreeCount) from kw_comment_count
    where commentId = #{commentId,jdbcType=INTEGER}
  </select>
  <!--查询支持量-->
  <select id="findOpposeCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(opposeCount) from kw_comment_count
    where commentId = #{commentId,jdbcType=INTEGER}
  </select>

  <!--判断该用户对这个评论是否已经点赞过-->
  <select id="findExsitUserAgreeComment" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(agreeCount) from kw_comment_count
    where commentId = #{commentId,jdbcType=INTEGER} and  creater = #{creater,jdbcType=VARCHAR}
    and agreeCount = 1
  </select>
  <!--判断该用户对这个评论是否已经反对过-->
  <select id="findExsitUserOpposeComment" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(opposeCount) from kw_comment_count
    where commentId = #{commentId,jdbcType=INTEGER} and  creater = #{creater,jdbcType=VARCHAR}
    and opposeCount = 1
  </select>
</mapper>