<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="companyType" jdbcType="VARCHAR" property="companyType" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="busLine" jdbcType="VARCHAR" property="busLine" />
    <result column="busNumber" jdbcType="VARCHAR" property="busNumber" />
    <result column="driver" jdbcType="VARCHAR" property="driver" />
    <result column="steward" jdbcType="VARCHAR" property="steward" />
    <result column="visitTime" jdbcType="VARCHAR" property="visitTime" />
    <result column="visitType" jdbcType="VARCHAR" property="visitType" />
    <result column="isReply" jdbcType="VARCHAR" property="isReply" />
    <result column="accepter" jdbcType="VARCHAR" property="accepter" />
    <result column="customerType" jdbcType="VARCHAR" property="customerType" />
    <result column="flowNumber" jdbcType="VARCHAR" property="flowNumber" />
    <result column="cardType" jdbcType="VARCHAR" property="cardType" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, company, companyType, country, province, city, telephone, phone, content, 
    busLine, busNumber, driver, steward, visitTime, visitType, isReply, accepter, customerType, 
    flowNumber, cardType, createTime, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.Customer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_customer (name, company, companyType, 
      country, province, city, 
      telephone, phone, content, 
      busLine, busNumber, driver, 
      steward, visitTime, visitType, 
      isReply, accepter, customerType, 
      flowNumber, cardType, createTime,address
      )
    values (#{name,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{companyType,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{busLine,jdbcType=VARCHAR}, #{busNumber,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR}, 
      #{steward,jdbcType=VARCHAR}, #{visitTime,jdbcType=VARCHAR}, #{visitType,jdbcType=VARCHAR},
      #{isReply,jdbcType=VARCHAR}, #{accepter,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, 
      #{flowNumber,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.Customer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="companyType != null">
        companyType,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="busLine != null">
        busLine,
      </if>
      <if test="busNumber != null">
        busNumber,
      </if>
      <if test="driver != null">
        driver,
      </if>
      <if test="steward != null">
        steward,
      </if>
      <if test="visitTime != null">
        visitTime,
      </if>
      <if test="visitType != null">
        visitType,
      </if>
      <if test="isReply != null">
        isReply,
      </if>
      <if test="accepter != null">
        accepter,
      </if>
      <if test="customerType != null">
        customerType,
      </if>
      <if test="flowNumber != null">
        flowNumber,
      </if>
      <if test="cardType != null">
        cardType,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="address != null">
        address
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="busLine != null">
        #{busLine,jdbcType=VARCHAR},
      </if>
      <if test="busNumber != null">
        #{busNumber,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="steward != null">
        #{steward,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="visitType != null">
        #{visitType,jdbcType=VARCHAR},
      </if>
      <if test="isReply != null">
        #{isReply,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null">
        #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="flowNumber != null">
        #{flowNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.Customer">
    update sys_customer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null">
        companyType = #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="busLine != null">
        busLine = #{busLine,jdbcType=VARCHAR},
      </if>
      <if test="busNumber != null">
        busNumber = #{busNumber,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="steward != null">
        steward = #{steward,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null">
        visitTime = #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="visitType != null">
        visitType = #{visitType,jdbcType=VARCHAR},
      </if>
      <if test="isReply != null">
        isReply = #{isReply,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null">
        accepter = #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customerType = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="flowNumber != null">
        flowNumber = #{flowNumber,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        cardType = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.Customer">
    update sys_customer
    set name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      companyType = #{companyType,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      busLine = #{busLine,jdbcType=VARCHAR},
      busNumber = #{busNumber,jdbcType=VARCHAR},
      driver = #{driver,jdbcType=VARCHAR},
      steward = #{steward,jdbcType=VARCHAR},
      visitTime = #{visitTime,jdbcType=VARCHAR},
      visitType = #{visitType,jdbcType=VARCHAR},
      isReply = #{isReply,jdbcType=VARCHAR},
      accepter = #{accepter,jdbcType=VARCHAR},
      customerType = #{customerType,jdbcType=VARCHAR},
      flowNumber = #{flowNumber,jdbcType=VARCHAR},
      cardType = #{cardType,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAllCust"  parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_customer
    where 1=1
    <if test="keywords != null and keywords != ''">
      and(
      name like  CONCAT(CONCAT('%', #{keywords}),'%')
      or
      company like  CONCAT(CONCAT('%', #{keywords}),'%')
      or
      telephone like  CONCAT(CONCAT('%', #{keywords}),'%')
      )
    </if>
    <if test="sort != null and sort != ''">
      order by ${sort}
    </if>
    <if test="order != null and order != ''">
      ${order}
    </if>
  </select>


</mapper>