<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.DeparmentMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.Deparment">
    <id column="depId" jdbcType="INTEGER" property="depId" />
    <result column="depName" jdbcType="VARCHAR" property="depName" />
    <result column="depCode" jdbcType="VARCHAR" property="depCode" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    depId, depName, depCode, parentId, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_deparment
    where depId = #{depId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_deparment
    where depId = #{depId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.Deparment">
    <selectKey keyProperty="depId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_deparment (depName, depCode, parentId, 
      remark)
    values (#{depName,jdbcType=VARCHAR}, #{depCode,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.Deparment">
    <selectKey keyProperty="depId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_deparment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depName != null">
        depName,
      </if>
      <if test="depCode != null">
        depCode,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depCode != null">
        #{depCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.Deparment">
    update sys_deparment
    <set>
      <if test="depName != null">
        depName = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="depCode != null">
        depCode = #{depCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where depId = #{depId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.Deparment">
    update sys_deparment
    set depName = #{depName,jdbcType=VARCHAR},
      depCode = #{depCode,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where depId = #{depId,jdbcType=INTEGER}
  </update>

  <!--根据父部门获取所有子部门-->
  <select id="findDepByParentId"  parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_deparment sd
    where parentId = #{parentId,jdbcType=INTEGER}
    <if test="keywords != null and keywords != ''">
      and(
      depName like  CONCAT(CONCAT('%', #{keywords}),'%')
      or
      depCode like  CONCAT(CONCAT('%', #{keywords}),'%')
      )
    </if>
    <if test="sort != null and sort != ''">
      order by ${sort}
    </if>
    <if test="order != null and order != ''">
      ${order}
    </if>
  </select>

  <!--查询所有部门-->
  <select id="findAllDep" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_deparment
  </select>

  <select id="findDepByCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(depId)
    from sys_deparment
    where  depCode = #{depCode,jdbcType=VARCHAR}
  </select>

  <!--查询所有的部门名称根据id-->
  <select id="findDepNamesByIds" parameterType="java.lang.String" resultMap="BaseResultMap">
    select depName, depId from sys_deparment where depId in (${ids})
  </select>
</mapper>