<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.KnowFile">
    <id column="fileId" jdbcType="INTEGER" property="fileId" />
    <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    <result column="fileCategory" jdbcType="VARCHAR" property="fileCategory" />
    <result column="createDate" jdbcType="VARCHAR" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    fileId, fileName, fileCategory, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_file
    where fileId = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_file
    where fileId = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.KnowFile">
    <selectKey keyProperty="fileId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_file (fileName, fileCategory, createDate
      )
    values (#{fileName,jdbcType=VARCHAR}, #{fileCategory,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.KnowFile">
    <selectKey keyProperty="fileId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        fileName,
      </if>
      <if test="fileCategory != null">
        fileCategory,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileCategory != null">
        #{fileCategory,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.KnowFile">
    update sys_file
    <set>
      <if test="fileName != null">
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileCategory != null">
        fileCategory = #{fileCategory,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=VARCHAR},
      </if>
    </set>
    where fileId = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.KnowFile">
    update sys_file
    set fileName = #{fileName,jdbcType=VARCHAR},
      fileCategory = #{fileCategory,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=VARCHAR}
    where fileId = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>