<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.zh.crm.entity.Notice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="deadline" jdbcType="VARCHAR" property="deadline" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="createDate" jdbcType="VARCHAR" property="createDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="updateDate" jdbcType="VARCHAR" property="updateDate" />
    <result column="depId" jdbcType="INTEGER" property="depId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zh.crm.entity.Notice">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap id="allNoticeMap" type="com.zh.crm.entity.User" extends="BaseResultMap">
    <association property="dep"  javaType="com.zh.crm.entity.Deparment">
      <id property="depId" column="depId"  jdbcType="INTEGER"></id>
      <result property="depName" column="depName" jdbcType="VARCHAR"></result>
      <result property="depCode" column="depCode" jdbcType="VARCHAR"></result>
      <result property="parentId" column="parentId" jdbcType="INTEGER"></result>
      <result property="remark" column="remark" jdbcType="VARCHAR"></result>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, type, deadline, creater, createDate, status, updateDate,depId
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zh.crm.entity.Notice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_notice (title, type, deadline,
    creater, createDate, status,
    content,updateDate,depId)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR},
    #{creater,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
    #{content,jdbcType=LONGVARCHAR},#{updateDate,jdbcType=VARCHAR},#{depId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.crm.entity.Notice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
      <if test="depId != null">
        depId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.Notice">
    update sys_notice
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        updateDate = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zh.crm.entity.Notice">
    update sys_notice
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      updateDate = #{updateDate,jdbcType=VARCHAR},
      depId = #{depId,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zh.crm.entity.Notice">
    update sys_notice
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      updateDate = #{updateDate,jdbcType=VARCHAR},
      depId = #{depId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--分页查询公告-->
  <select id="findAllNoticePaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_notice
    where 1=1
    <if test="keywords!=null and keywords!=''">
      and(
      title like CONCAT(CONCAT('%',#{keywrods}),'%')
      or
      type like CONCAT(CONCAT('%',#{keywords}),'%')
      )
    </if>
    <if test="sort!=null and sort!=''">
      order by ${sort}
    </if>
    <if test="order!=null and order!=''">
      ${order}
    </if>
  </select>

  <!--过期公告自动失效-->
  <update id="setExpireNotice" parameterType="java.lang.String">
    update sys_notice
    <set>
      <if test="title != null">
        status = '已失效'
      </if>
    </set>
    where deadline is not null and deadline &lt; #{deadline}
  </update>
</mapper>