<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.crm.mapper.ScheduleMapper">

	<resultMap id="BaseResultMap" type="com.zh.crm.entity.Schedule">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="shift_id" jdbcType="VARCHAR" property="shiftId" />
		<result column="staff_id" jdbcType="VARCHAR" property="staffId" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="date" jdbcType="DATE" property="date" />
		<association property="shift" javaType="com.zh.crm.entity.Shift">
			<id column="id" jdbcType="INTEGER" property="id" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="period" jdbcType="VARCHAR" property="period" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="description" jdbcType="VARCHAR" property="description" />
		</association>
		<association property="staff" javaType="com.zh.crm.entity.User">
			<id column="userId" jdbcType="INTEGER" property="userId" />
			<result column="username" jdbcType="VARCHAR" property="username" />
			<result column="password" jdbcType="VARCHAR" property="password" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="email" jdbcType="VARCHAR" property="email" />
			<result column="phone" jdbcType="VARCHAR" property="phone" />
			<result column="telephone" jdbcType="VARCHAR" property="telephone" />
			<result column="remark" jdbcType="VARCHAR" property="remark" />
			<result column="status" jdbcType="INTEGER" property="status" />
			<result column="skin" jdbcType="VARCHAR" property="skin" />
			<result column="lastLogin" jdbcType="VARCHAR" property="lastLogin" />
			<result column="number" jdbcType="VARCHAR" property="number" />
			<result column="depId" jdbcType="INTEGER" property="depId" />
			<result column="roleIds" jdbcType="VARCHAR" property="roleIds" />
			<result column="address" jdbcType="VARCHAR" property="address" />
			<result column="job" jdbcType="VARCHAR" property="job" />
			<result column="sex" jdbcType="INTEGER" property="sex" />
			<result column="maritalStatus" jdbcType="INTEGER" property="maritalStatus" />
			<result column="nation" jdbcType="VARCHAR" property="nation" />
			<result column="IDNumber" jdbcType="VARCHAR" property="IDNumber" />
			<result column="education" jdbcType="VARCHAR" property="education" />
			<result column="health" jdbcType="VARCHAR" property="health" />
			<result column="skill" jdbcType="VARCHAR" property="skill" />
			<result column="bornDay" jdbcType="VARCHAR" property="bornDay" />
			<result column="intoCompanyDate" jdbcType="VARCHAR" property="intoCompanyDate" />
			<result column="bloodType" jdbcType="VARCHAR" property="bloodType" />
			<result column="postalCode" jdbcType="VARCHAR" property="postalCode" />
			<result column="location" jdbcType="VARCHAR" property="location" />
		</association>
	</resultMap>
	
	<sql id="Base_Column_List">
		s.*, f.*, u.*
	</sql>
		
	<sql id="Base_Table">
		t_schedule s 
		left join t_shift f
		on s.shift_id = f.id
		left join sys_user u
		on s.staff_id = u.userId
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where s.id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="findAllSchedule" resultMap="BaseResultMap" parameterType="com.zh.crm.entity.Schedule">
		select
		<include refid="Base_Column_List" />
		from <include refid="Base_Table" />
		<where>
			<if test="shiftId != null and shiftId != ''">
				and s.shift_id = #{shiftId,jdbcType=INTEGER}
			</if>
			<if test="staffId != null and staffId != ''">
				and s.staff_id = #{shiftId,jdbcType=INTEGER}
			</if>
			<if test="status != null">
				and s.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="dateFrom != null and  dateTo != null">
				and s.date between #{dateFrom,jdbcType=DATE} and #{dateTo,jdbcType=DATE}
			</if>
		</where>
	</select>
	
	<insert id="insertSelective" parameterType="com.zh.crm.entity.Schedule">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_schedule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shiftId != null">
				shift_id,
			</if>
			<if test="staffId != null">
				staff_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="date != null">
				date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shiftId != null">
				#{shiftId,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				#{staffId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="date != null">
				#{date,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.zh.crm.entity.Schedule">
		update t_schedule
		<set>
			<if test="shiftId != null">
				shift_id = #{shiftId,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				staff_id = #{staffId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="date != null">
				date = #{date,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
</mapper>